#sidebar{width:220px;}
#sidebar>ul{width:220px;}
#content{ margin-left:220px;}
#header h3{line-height:60px; background:none;}
#header a{color:White;}
.bak_menu{font-size:12px  !important;}
.bak_menu{font-size:12px  !important;}
#user-nav > ul > li > a{font-size:12px  !important;}
