

.dataTables_length_province{margin:0px 0px 0; padding-top:6px; width:180px !important; float:left;}
.dataTables_length_city{margin:0px 5px 0; padding-top:6px; width:180px; float:left;}
.dataTables_length_area{margin:0px 0px 0; padding-top:6px; width:180px !important; float:left;}
.dataTables_length_area .select2-container {width:126px !important;}
#selectCityPanel .select1 span{width:90px;}

.container-fluid .row-fluid .widget-box:first-child {
	margin-top: 0px;
}