@{
    ViewBag.Title = "比赛协议";
}

<!doctype html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <title>比赛协议</title>
    <link href="~/Content/css/apply.css" rel="stylesheet" /> 
    <script src="~/Scripts/js/JsBridge.js"></script>
</head>

<body class="body3">
    <header class="head1">
        <a href="../Information/Index?returnPage=Information&UserID=@Request["UserID"]&TelePhone=@Request["TelePhone"]&AppID=@Request["AppID"]" class="back"><img src="../images/back.png" alt=""></a>
        <h2 style="text-align: center;">同步学北京版配音比赛参赛协议</h2>
     </header>
    <main class="main2"> 
        <p style="margin-top: 10px;">第一条 特别提示</p>
        <p>.1、方直科技股份有限公司（以下简称“方直科技”）在此特别提醒您（用户）在注册成为用户之前，请认真阅读本《同步学北京版配音比赛服务协议》（以下简称“协议”），确保您充分理解本协议中各条款，包括免除方直科技责任的条款及限制用户权利的条款。请您审慎阅读并选择接受或不接受本协议。除非您接受本协议所有条款，否则您无权参加比赛或使用本协议所涉服务。您的报名、使用等行为将视为对本协议的接受，并同意接受本协议各项条款的约束。</p>
        <p>.2、本协议约定方直科技与用户之间关于“北京市配音比赛”软件服务（以下简称“服务”）的权利义务。“用户”是指注册、 登录、使用本服务的个人。本协议可由方直科技随时更新， 更新后的协议条款一旦公布即代替原来的协议条款，恕不再另行通知，用户可在同步学APP查阅最新版协议条款。在方直科技修改协议条款后，如果用户不接受修改后的条款，请立即停止使用方直科技提供的服务，用户继续使用方直科技提供的服务将被视为接受修改后的协议。</p>
        <p style="margin-top: 10px;">第二条 比赛服务内容</p>
        <p>
            .1、本服务的具体内容由方直科技根据实际情况提
            供，包括但不限于：
        </p>
        <p>
            （1） 配音素材：包括课内课外资源，以及评测成
            绩。
        </p>
        <p>
            （2） 故事演读：由方直科技提供故事演读文本，
            以及评测成绩。
        </p>
        <p>
            （3） 分享投票：用户可以分享自己的作品给朋友
            投票。
        </p>
        <p>
            .2、在遵守相关法律法规前提下，根据组委会的要
            求，方直科技有权调整用户在比赛过程中的流程。
        </p>
        <p style="margin-top: 10px;">第三条 参赛说明</p>
        <p>
            .1、用户需从官方渠道下载安装方直科技提供的“同
            步学”软件（App）。
        </p>
        <p>.2、用户安装运行“同步学”软件后，点击报名。</p>
        <p>.3、用户报名成功后可以根据比赛规则参加初赛。</p>
        <p>
            .4、用户晋级区级复赛后，由现场参加复赛，专家
            给予评分。
        </p>
        <p>
            .5、用户晋级区级决赛后，由现场参加决赛，专家
            给予评分。
        </p>
        <p style="margin-top: 10px;">第四条 免责协议
        <p>
            1.初赛环节配音成绩由方直科技评测系统统一评定，
            但是由于参赛人的手机以及配音环境等因素，造成
            评测成绩不理想，与方直科技无关。
        </p>
        <p>
            2.初赛学生用同步学软件产生的参赛作品，包括但
            不限于音频，录像等；现场参赛录像等，版权归属
            方直科技，方直科技有权处理作品。
        </p>
        <p>
            3.复赛成绩由现场专家评定，同意该协议代表同意
            专家评分，接受比赛结果。
        </p>
        <p>
            4.用户报名参加比赛为自愿行为，如在参赛过程中，
            参赛前后因自身其他行为造成的意外，与方直科技
            无关。
        </p>
        <p style="margin-top: 10px;">第五条 用户账户安全</p>
        <p>
            .1、注册用户的登陆密码管理由用户来负责，用户
            不应把自己的密码告诉其他第三者。
        </p>
        <p>
            .2、.用户如果出现账号变更导致无法参赛或者无法
            获取分数等一切后果，用户需自己承担责任。
        </p>
        <p style="margin-top: 10px;">第六条 用户个人隐私信息保护</p>
        <p>
            .1、方直科技未经用户同意不向任何第三方公开、
            透露用户个人隐私信息。但以下特定情形除外：
        </p>
        <p>
            （1） 方直科技根据法律法规规定或有权机关的指
            示提供用户的个人隐私信息；
        </p>
        <p>
            （2） 由于用户将其用户密码告知他人或与他人共
            享注册帐户与密码，由此导致的任何个人信息的泄
        </p>
        漏， 或其他非方直科技原因导致的个人隐私信息的
        泄露；</p>
        <p>（3） 用户自行向第三方公开其个人隐私信息；</p>
        <p>
            （4） 用户与方直科技及合作单位之间就用户个人
            隐私信息的使用公开达成约定， 方直科技因此向合
            作单位公开用户个人隐私信息；
        </p>
        <p>
            （5） 任何由于黑客攻击、电脑病毒侵入及其他非
            因方直科技原因导致用户个人隐私信息的泄露。
        </p>
        <p>
            .2、用户同意方直科技可在以下事项中使用用户的
            个人隐私信息：
        </p>
        <p>
            （1） 向用户及时发送重要通知，如软件更新、本
            协议条款的变更；
        </p>
        <p>
            （2） 方直科技内部进行审计、数据分析和研究等，
            以改进方直科技的产品、服务和与用户之间的沟通；
        </p>
        <p>
            （3） 依本协议约定，方直科技管理、审查用户信
            息及进行处理措施；
        </p>
        <p>（4） 适用法律法规规定的其他事项。</p>
        <p style="margin-top: 10px;">第七条 用户使用规范</p>
        <p>
            .1、方直科技用户不能利用方直科技提供的服务进
            行如下行为：
        </p>
        <p>（1） 利用技术手段创建虚假投票；</p>
        <p>（2） 利用技术手段批量建立虚假账号；</p>
        <p>（3） 侵害方直科技以及第三者的知识产权；</p>
        <p>
            （4） 提交、发布虚假信息，或盗用他人资料，冒
            充、利用他人名义；
        </p>
        <p>（5） 其他违法以及不正当的行为；</p>
        <p>（6） 其他不遵守本协议的行为。</p>
        <p style="margin-top: 10px;">第八条 其他</p>
        <p>
            .1、方直科技郑重提醒用户注意本协议中免除方直
            科技责任和限制用户权利的条款，请用户仔细阅读，
            自主考虑风险。 未成年人应在法定监护人的陪同下
            阅读本协议。
        </p>
        <p>
            .2、本协议的效力、解释及纠纷的解决，适用于中
            华人民共和国法律。若用户和方直科技之间发生任
            何纠纷或争议， 首先应友好协商解决，协商不成的，
            用户同意将纠纷或争议提交方直科技住所地有管辖
            权的人民法院管辖。
        </p>
        <p>
            .3、本协议的任何条款无论因何种原因无效或不具
            可执行性，其余条款仍有效，对双方具有约束力。
        </p>
        <p>
            .4、本协议的版权由方直科技所有，方直科技保留
            一切解释和修改的权力。
        </p>
        <p>.5、本协议从2017年9月1日起适用</p>
    </main>

</body>
</html>

