<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="OpenPlatform4Bona" connectionString="server=192.168.0.30;database=op_bona;uid=opbona;pwd=O-p4boN1.ecaf_RetnI;pooling=true;Max Pool Size=10;" providerName="MySql.Data.MySqlClient" />
    <add name="OpenPlatform" connectionString="server=192.168.0.30;database=OpenPlatform;uid=opapi;pwd=0p!Rof-eca6reTn1;pooling=true;Max Pool Size=10;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <!--配置区域开始-->
  <appSettings>
    
        <!--start 估价宝API调用(本地)-->
      
    <!--<add key="gjbappid" value="1003100" />
    <add key="gjbappwd" value="1022334052" />
    <add key="gjbsystypecode" value="1003108" />
    <add key="gjbsignname" value="60765FEC-9156-409D-923E-A12EB53A1D1F" />
    <add key="gjbappkey" value="1437751813" />
    <add key="gjbappurl" value="http://192.168.0.7:9993/gjb/active/entrust" />
    <add key="gjbfunname" value="estateinfo" />-->
    
      <!--end 估价宝API调用-->
    
      <!--start 云查勘PI调用(本地)-->
      
    <!--<add key="yckappid" value="1003102" />
    <add key="yckappwd" value="1003818754" />
    <add key="ycksystypecode" value="1003018" />
    <add key="ycksignname" value="60765FEC-9156-409D-923E-A12EB53A1D1F" />
    <add key="yckappkey" value="1442318247" />
    <add key="yckappurl" value="http://192.168.0.7:9995/SurveyService/sae" />
    <add key="surveyAppId" value="1452065907761000" />
    <add key="surveyAppSecret" value="2c3355c970b73de9b376d5d7fad4610b" />
    <add key="surveySecretPwd" value="csurvey@20150609$*&amp;^!"/>
    <add key="surveyPath" value="https://192.168.1.29:8443/server/ws/"/>-->
    
      <!--end 云查勘API调用-->

    <!--start 数据中心自动估价接口(本地)-->
    <!--<add key="dcappid" value="1003104" />
    <add key="dcappwd" value="261445083" />
    <add key="dcsystypecode" value="1003301" />
    <add key="dcsignname" value="865C0244-CBB5-4F60-9D25-F7BC23BD00A6" />
    <add key="dcappkey" value="2036686022" />
    <add key="dcappurl" value="http://192.168.0.7:9997/dc/active" />
    <add key="dcfunname" value="casautoprice" />-->
    <!--end 数据中心自动估价接口-->
    
    
    <!--start 估价宝API调用(测试版)-->
      
    <!--<add key="gjbappid" value="1003100" />
    <add key="gjbappwd" value="1022334052" />
    <add key="gjbsystypecode" value="1003108" />
    <add key="gjbsignname" value="AAE0E2C7-A416-49EB-8C8A-E504E520D9C6" />
    <add key="gjbappkey" value="1437751813" />
    <add key="gjbappurl" value="http://wcfgjbapi.fxtchina.com/gjb/active/entrust" />
    <add key="gjbfunname" value="estateinfo" />-->
    
      <!--end 估价宝API调用-->
    
      <!--start 云查勘PI调用(测试版)-->
      
    <!--<add key="yckappid" value="1003102" />
    <add key="yckappwd" value="1003818754" />
    <add key="ycksystypecode" value="1003018" />
    <add key="ycksignname" value="AAE0E2C7-A416-49EB-8C8A-E504E520D9C6" />
    <add key="yckappkey" value="1442318247" />
    <add key="yckappurl" value="http://wcfsurvey09.fxtchina.com/SurveyService/sae" />
    <add key="surveyAppId" value="1452065907761000" />
    <add key="surveyAppSecret" value="2c3355c970b73de9b376d5d7fad4610b" />
    <add key="surveySecretPwd" value="csurvey@20150609$*&amp;^!"/>
    <add key="surveyPath" value="http://yckapi.fxtchina.com:18080/server/ws/" />-->
   
    
      <!--end 云查勘API调用-->

    <!--start 数据中心自动估价接口（测试版）-->
    
    <!--<add key="dcappid" value="1003104" />
    <add key="dcappwd" value="261445083" />
    <add key="dcsystypecode" value="1003301" />
    <add key="dcsignname" value="B5ADF65B-D64A-4D08-8C2B-C218E00BDC22" />
    <add key="dcappkey" value="2036686022" />
    <add key="dcappurl" value="http://api.fxtchina.com/datacenter/dc/active" />
    <add key="dcfunname" value="casautoprice" />-->
    
    <!--end 数据中心自动估价接口-->
    

    <!--start 估价宝API调用-->
    <add key="gjbappid" value="1003100" />
    <add key="gjbappwd" value="1022334052" />
    <add key="gjbsystypecode" value="1003108" />
    <add key="gjbsignname" value="2A813149-FF97-4C59-912B-15E99A56EB67" />
    <add key="gjbappkey" value="1437751813" />
    <add key="gjbappurl" value="https://apigjb.yungujia.com/wgjb/gjb/active/entrust " />
    <add key="gjbfunname" value="estateinfo" />
    <!--end 估价宝API调用-->
    
    <!--start 云查勘PI调用-->
    <add key="yckappid" value="1003102" />
    <add key="yckappwd" value="1316636361" />
    <add key="ycksystypecode" value="1003018" />
    <add key="ycksignname" value="2A813149-FF97-4C59-912B-15E99A56EB67" />
    <add key="yckappkey" value="1466641333" />
    <add key="yckappurl" value="https://wscapi.yungujia.com/wsc/SurveyService/sae" />
    <add key="surveyAppId" value="1452065907761000" />
    <add key="surveyAppSecret" value="2c3355c970b73de9b376d5d7fad4610b" />
    <add key="surveySecretPwd" value="csurvey@20150609$*&amp;^!" />
    <add key="surveyPath" value="https://yck.yungujia.com/server/ws/" />
    
    <!--end 云查勘API调用-->
    
    <!--start 数据中心自动估价接口-->
    <add key="dcappid" value="1003104" />
    <add key="dcappwd" value="436122805" />
    <add key="dcsystypecode" value="1003301" />
    <add key="dcsignname" value="70A6A39A-4823-4B94-B834-EA13780FCB34" />
    <add key="dcappkey" value="1511557502" />
    <add key="dcappurl" value="https://api.fxtcn.com/wdc/dc/active" />
    <add key="dcfunname" value="casautoprice" />
    <!--end 数据中心自动估价接口-->
    
 
  </appSettings>
  <!--配置区域结束-->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <directoryBrowse enabled="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>