<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="recivemail" value="huy@fxtcn.com"/>
    <add key="sendmail" value="service@fxtcn.com"/>
    <add key="mailaccount" value="service@fxtcn.com"/>
    <add key="mailpassword" value="ygjyckfxt3219"/>
    <add key="smtpserver" value="smtp.exmail.qq.com"/>
    <add key="smtpport" value="25"/>
  </appSettings>
  <connectionStrings>
    <add name="FXTConnectionString" connectionString="Data Source =192.168.0.5;DataBase = fxtusercenter;User Id = fxtuser;Password =fxt.user"/>    
  </connectionStrings>
    <system.web>
        <pages validateRequest="false"/>
        <httpRuntime maxRequestLength="1048576" executionTimeout="3600" requestValidationMode="2.0" />
        <compilation debug="true" targetFramework="4.0" />      
    </system.web>

</configuration>
