<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<connectionStrings>
		<!--数据库地址-->
		<add name="KingsunConnection" connectionString="Data Source=192.168.3.7;Initial Catalog=ExamPaper;User ID=sa;Password=Kingsun2008" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!--上传服务文件-->
		<add key="UploadFileUrl" value="http://192.168.3.100:8053/ImportUploadFiles.ashx" />
		<!--是否只用于校验，不进行导入操作-->
		<add key="OnlyCheck" value="false"/>
		<!--导入的MOD版本名称-->
		<add key="EditionName" value="人教PEP版"/>
		<!--导入的MOD版本ID-->
		<add key="EditionID" value="1"/>
  </appSettings>
</configuration>