.pagination { margin-top:0px !important;}
.diy_search_btn { margin-bottom:5px; height:30px;}
#fancybox-wrap,#fancybox-wrap div:before,#fancybox-wrap div:after{-webkit-box-sizing:initial !important;-moz-box-sizing:initial !important;box-sizing:initial !important;}
.fontshow{color: #428BCA;}