<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <!--配置区域开始-->
    <!--数据中心API地址-->
    <!--add key="datacenterapi" value="https://api.fxtcn.com/wdc/dc/active" />-->
    <add key="datacenterapi" value="http://192.168.3.92/dc/active" />
    <!--<add key="datacenterapi" value="http://192.168.0.124:8100/dc/active"/>-->
    <!--############### 组件配置 Begin #############-->
    <!-- ####重要说明 此接口发布的时候使用房讯通25的配置  此配置用于发送数据给VQ运营中心时,获取关键数据 -->
    <add key="UserCenterServiceURL" value="http://192.168.0.124:8200/uc/active"/>
    <!--<add key="UserCenterServiceURL" value="http://192.168.0.7:9994/uc/active"/>-->
    <add key="UserCenterSignname" value="4106DEF5-A760-4CD7-A6B2-8250420FCB18"/>
    <add key="UserCenterCompanyid" value="25"/>
    <add key="UserCenterAppid" value="1003105"/>
    <add key="UserCenterApppwd" value="1651701380"/>
    <add key="UserCenterAppkey" value="1358516608"/>
    <add key="UserCenterSystypecode" value="1003036"/>

    <add key="DataCenterServiceURL" value="http://192.168.0.7:9997/dc/active"/>
    <!--<add key="DataCenterServiceURL" value="http://192.168.0.7:9997/dc/active"/>-->
    <add key="DataCenterCompanyid" value="25"/>
    <add key="DataCenterSignname" value="4106DEF5-A760-4CD7-A6B2-8250420FCB18"/>
    <add key="DataCenterAppid" value="1003104"/>
    <add key="DataCenterAppkey" value="1480880117"/>
    <add key="DataCenterApppwd" value="487522690"/>
    <add key="DataCenterSystypecode" value="1003036"/>
    <!--############### 组件配置 End #############-->
  </appSettings>
  <connectionStrings>
    <add name="FXTConnectionString" connectionString="Data Source =192.168.0.5;DataBase = FXTProject;User Id = fxtbase_user;Password =base*cn.com" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    
    <!--调用运营中心配置 begin-->
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPropertyHand" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://vqcenterwcf.fxtchina.com/PropertyHand.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPropertyHand"
          contract="VQCenterService.IPropertyHand" name="BasicHttpBinding_IPropertyHand" />
    </client>
    <!--调用运营中心配置 end-->
    
  </system.serviceModel>
  <!--配置区域结束-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>
