@{
    ViewBag.Title = "金太阳英语口语";
}
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport" />
<link href="Content/css/Spoken.css" rel="stylesheet" />
<script src="Scripts/js/jquery-1.10.2.min.js"></script>
<script src="Scripts/js/Spoken.js"></script>
<script src="Scripts/js/verify.js"></script>
<div class="wrap">
    <!-- 页面头部代码-->
    <div class="header">
        <div class="head_cen">
            <a class="logo"></a>
            <div class="link">
                <a class="a1" href="http://yzj.kingsun.cn/wapuser/app_main.php">我要上课</a>
                <a href="http://ofo.kingsunsoft.com/">关于我们</a>
            </div>
        </div>
    </div>
    <div class="banner">
        
        <div class="banner_nr">
            <img class="head1" src="images/head1.png" alt="" />
            <a class="order"><img src="images/head2.png" alt="" /></a>
        </div>
    </div>
    <div class="content">
        <ul class="ul1">
            <li class="li1">
                <img  src="images/img1.png" alt="" />
                <h3>沉浸式教学</h3>
                <p>
                    纯外教老师跟踪教学，营造沉浸式英语学习环境，传授母语式英语学习方法，帮助学生树立学习
                    信心，英语学习更有趣。
                </p>
            </li>
            <li class="li2">
                <img src="images/img2.png" alt="" />
                <h3>小课程学习</h3>
                <p>
                    短时高频是学习语言最有效的方法，节约时间，提高效率，让一切碎片时间都成为英语学习的最
                    佳时机。30-45分钟小课程教学英语学习随时随地。
                </p>
            </li>
            <li class="li3">
                <img src="images/img3.png" alt="" />
                <h3>1对1授课</h3>
                <p>
                    超小班教学让每一个学员都成为课堂的中心。外教老师1对1单独辅导，充分发掘学员开口说话的
                    能力和自信，告别哑巴英语,口语show起来。
                </p>
            </li>
            <li class="li4">
                <img src="images/img4.png" alt="" />
                <h3>超高性价比</h3>
                <p>
                    超低的价格让语言学习不再是奢侈品，每个人都能平等地进行学习。每一节课都有收获，你选择
                    的必定是最好的。
                </p>
            </li>
        </ul>

        <h2><img src="images/line2.png" alt="" />我们的外教<img src="images/line1.png" alt="" /></h2>
        <div class="video">
            <ul>
                <li class="on">我的外教</li>
                <li>课堂实录</li>
            </ul>
            <div class="vider1">
                <video controls="controls" poster="images/video1.png" src="images/video1.mp4" webkit-playsinline webkit-playsinline>
                    <source src="images/video1.mp4">示例视频1</source>
                    您的浏览器不支持video标签
                </video>
            </div>
            <p class="p1">100%来自欧美国家，严格甄选</p>
            <p class="p1">入住资质层层考核，拥有丰富的教学经验</p>
            <p class="p2">中美名师任你选，让孩子在家享受优质的</p>
            <p class="p2">英语教学，像Kitty一样自由交谈</p>
            <a class="order">参与体验</a>
        </div>

        <h2><img src="images/line2.png" alt="" />简单3步，开启英语学习精彩旅程<img src="images/line1.png" alt="" /></h2>
        <div class="step">
            <img src="images/step.png" alt="" />
        </div>
        <h2><img src="images/line2.png" alt="" />学员心声<img src="images/line1.png" alt="" /></h2>

        <div class="thinking">
            <img src="images/image1.png" alt="" />
            <ul>
                <li class="on">
                    <em></em>
                    <h3>Sophia:</h3>
                    <p>
                        金太阳的外教上课太有趣了，虽然外教在美国，但我们视频交流一点障碍也没有。
                        她还会讲很多美国的生活。我们现在还是很好的朋友，就这样，不知不觉我的英语口语也提高了！
                    </p>
                </li>
                <li>
                    <em></em>
                    <h3>Apple:</h3>
                    <p>
                        以前我很害羞，因为不自信，金太阳的老师帮我培训后，有次学校英语课老师问
                        有没有人愿意做一个即时英语演讲，我第一个举手了，我的表现让老师和同学们大吃一惊，太棒了！
                    </p>
                </li>
                <li>
                    <em></em>
                    <h3>Lambert:</h3>
                    <p>
                        我很少讲英语，是金太阳给了我和外教面对面对话的机会，老师不但替我纠正发
                        音，教我英语知识，还给我讲很多美国的本地文化。我现在不但口语提升了，英语成绩也提高了！
                    </p>
                </li>
            </ul>
        </div>

    </div>
    <div class="footer">
        <div class="footer_cen">
            <img src="images/code.png" alt="" />
            <p class="p1">方直金太阳微信公众号</p>
            <p class="p2">~扫码关注微信公众号~</p>
            <p class="p3">并回复 “<span>抽奖</span>” 即可参与抽奖活动</p>
            <p class="p4">联系电话：0755-36907458</p>
            <p class="p5">Copyright © 2011-2012 深圳市方直科技股份有限公司 版权所有 粤教信息[2010]3号 ICP证粤B2-20110094</p>

        </div>
    </div>
    <!--弹框-->
    <div class="box">
        <h2>填写资料</h2>
        <span class="">请输入正确的手机号</span>
        <div class="name">
            <h3>姓名</h3>

            <input type="text" id="Name" />

        </div>
        <div class="phone">
            <h3>手机</h3>

            <input id="Phone" type="text" />

        </div>
        <a class="draw">免费领取</a>
        <a class="close"></a>
    </div>
    <div class="box1">
        <p class="p1">恭喜您领取成功!</p>
        <p>我们的课程顾问将会</p>
        <p>第一时间联系您!</p>
        <img src="images/star.png" alt="" />
        <a class="sour">确认</a>
        <a class="close"></a>
    </div>
    <div class="shadow1"></div> 
</div>
