.dataTables_length2{margin:0px 5px 0; padding-top:6px; width:200px; float:left;}
.control-group{ width:25%; float:left; padding-top:3px;}
.dataTables_length3{margin:0px 5px 0; padding-top:6px; width:70px; float:left;}
.dataTables_length4{margin:0px 5px 0; padding-top:6px; width:10%; float:left;}
.dataTables_length5{margin:0px 5px 0; padding-top:6px; width:250px; float:left;}
.selectFloatValue span{width:90px;}
.selectweb span{width:90px;}
.tablepanel{width:100% !important;   overflow:auto !important;}
.pagination{margin-top:10px !important;}
.tablepanel2{width:20% !important; height:10px !important; border:none !important;}
.pagination2{}
.table2 th{font-size:12px;}
.table th, .table td{padding:0px !important; text-align:center;}