
.control-group{ width:270px; float:left; padding-top:3px; margin-left:0px;}
.control-group2{ width:170px; float:left; margin-left:10px; padding-top:4px; }
.control-group input{height:15px;width:80px}
.control-group2 input{height:15px;width:80px; margin-bottom:0 !important;}
.control-group label{font-weight:bold !important;}
.control-group2 label{font-weight:bold !important; float:left;}
.input_text{height:15px !important;width:100px !important}
.dataTables_length3{margin:0px 5px 0; padding-top:6px; width:70px; float:left;}
.dataTables_length4{margin:0px 5px 0; padding-top:6px; width:10%; float:left;}
.dataTables_length5{margin:0px 15px 0; padding-top:6px; width:16% !important; float:left;}
.dataTables_length6{margin:0px 5px 0; padding-top:6px; width:30%; float:left;}
.selectweb span{width:80px;}
.tablepanel{width:100% !important;   overflow:auto !important;}/*height:350px !important;*/
.pagination{margin-top:10px !important;}
.tablepanel2{width:20% !important; height:10px !important; border:none !important;}
.pagination2{}
.table2 th{font-size:12px;}
.widget-box .widget-title{float:left; width:100%; background:none !important;}
.widget-box .widget-title2{height:auto !important;}
.widget-title_div{float:left;}
.widget-title_div label{font-size:12px !important; color:#878787 !important;}
.widget-title_div .left_span{float:left; width:32px;  font-weight:bold;}
.widget-title_div .left_span2{float:left; width:40px;}
.widget-title_div .right_span{float:left; width:80%;}
.widget-title_div .right_span .cb_span{float:left; width:100px; height:20px !important; min-height:0px !important; margin-left:0px !important; overflow:hidden;}
.widget-title_div .right_span .cb_span2{float:left; width:106px; height:20px !important; min-height:0px !important; margin-left:0px !important; overflow:hidden;}

.fxtloupan .btn_span{float:right; width:82px; height:22px !important; min-height:0px !important; }
.caserow .btn_span2{float:right; width:41px; height:22px !important;  min-height:0px !important;}
.caserow .txt_span{ height:22px !important; float:left; width:120px;  min-height:0px !important;}
.caserow .txt_span input[type="text"]{ height:20px !important; min-height:0px !important; padding:0 !important;}

.example_page{float:right !important;}
.option{float:left !important; padding-top:10px;}
.btn-mini{font-size:12px !important;}
#content{min-height:0 !important;}
.table th, .table td{padding-top:1px !important; padding-bottom:1px !important; }

.selectDate{height:auto !important;}


