.dataTables_length2{margin:0px 0 0; padding-top:6px; width:140px; float:left;}
.control-group{ width:280px; float:left; padding-top:3px;}
.dataTables_length3{margin:0px 0 0; padding-top:6px; width:70px; float:left;}
.dataTables_length4{margin:0px 5px 0; padding-top:6px; width:100px; float:left;}
.selectcity span{width:50px;}
.selectweb span{width:50px;}
.tablepanel{width:100% !important;  float:left;  overflow:auto !important;}/*height:350px !important;*/
.pagination{margin-top:0px !important;margin-bottom:0px !important;}
.tablepanel2{width:20% !important; height:10px !important; border:none !important;}
.pagination2{}
.table2 th{font-size:12px;}
.table th, .table td{padding:0px !important; text-align:center;}
.right_count{float:right;margin-right:10px;}
.widget-box2{margin-top:0px !important;margin-bottom:0px !important; padding-top:1px;float:left; width:100%;height:6%;}
.widget-box{float:left;}
._row-fluid{height:95% !important;width:98% !important;}
.container-fluid .row-fluid:first-child {margin-top: 0px !important;}
._widget-box2{ margin-top:0px !important; margin-bottom:0px !important; height:100%; width:100%;}
.control-group{margin-bottom:0px !important;}
#content{padding-bottom:0px !important; min-height:0 !important; height:85% !important;}