
#content{padding-bottom:0px !important; min-height:0 !important; height:85% !important;}
.container-fluid .row-fluid:first-child {margin-top:0px !important;}
.widget-box2{margin-top:0px !important; margin-bottom:0px !important;}
.widget-box{margin-bottom:0px !important;}
.pagination{margin:0px !important;}
.nowtext{padding:0px !important; margin:0px !important;}
.widget-box4{margin-top:0px !important;}