<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--根目录-->
    <add key="rooturl" value="/" />
    <add key="wcfusercenterservice" value="http://192.168.0.7:9994/uc/active" />
    <add key="ProjectPicPath" value="/ProjectPic" />
    <!--<add key="wcfusercenterservice" value="http://192.168.0.103:8726/uc/active"/>-->
  </appSettings>
  <connectionStrings>
    <add name="FXTConnectionString" connectionString="Data Source =192.168.0.5;DataBase = FXTProject;User Id = fxtbase_user;Password =base*cn.com" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms" />
    <httpRuntime maxRequestLength="2097151" />
  </system.web>
  <system.serviceModel>
    <!--aspNetCompatibilityEnabled="true"-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestFxtCenterServiceBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="exceptionBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--webHttpBinding Rest standardEndpoints-->
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint maxReceivedMessageSize="2147483647" defaultOutgoingResponseFormat="Json" helpEnabled="true" automaticFormatSelectionEnabled="true" crossDomainScriptAccessEnabled="true">
          <readerQuotas maxArrayLength="2147483647" />
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
    <bindings>
      <webHttpBinding>
        <binding crossDomainScriptAccessEnabled="true" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="64" />
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFxtAPI" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.7:6300/API/FxtAPI.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFxtAPI" contract="wcf_projectavgprice.IFxtAPI" name="BasicHttpBinding_IFxtAPI" />
    </client>
    <services>
      <service behaviorConfiguration="exceptionBehavior" name="FxtCenterService.Actualize.DataCenterService">
        <endpoint behaviorConfiguration="RestFxtCenterServiceBehavior" binding="webHttpBinding" contract="FxtCenterService.Contract.IDataCenterService" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
