<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KSWF.WFM.BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <KSWF.WFM.BLL.Properties.Settings>
      <setting name="KSWF_WFM_BLL_MateService_Service" serializeAs="String">
        <value>http://192.168.3.7:8010/MetadataService.asmx</value>
      </setting>
      <setting name="KSWF_WFM_BLL_PayService_FZPayService" serializeAs="String">
        <value>http://pay.kingsun.cn/Service/FZPayService.asmx</value>
      </setting>
      <setting name="KSWF_WFM_BLL_SNSService_RelationService" serializeAs="String">
        <value>http://192.168.3.88:8091/UserService/FZUUMS_Relation2.asmx</value>
      </setting>
      <setting name="KSWF_WFM_BLL_UserService_FZUUMS_UserService" serializeAs="String">
        <value>http://192.168.3.7:8026/UserService/FZUUMS_UserService.asmx</value>
      </setting>
    </KSWF.WFM.BLL.Properties.Settings>
  </applicationSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>