<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFxtAPI" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6300/API/FxtAPI.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IFxtAPI" contract="FxtAPI.IFxtAPI"
                name="BasicHttpBinding_IFxtAPI" />
        </client>
    </system.serviceModel>
</configuration>