<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="excuteUrl" value="http://localhost:6300/"/>
    <add key="excelParentUrl" value="\\192.168.0.10\Ftp\Collateral_Upload\"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFxt" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="10485760" maxBufferPoolSize="524288" maxReceivedMessageSize="10485760" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="10485760" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>      
      <endpoint address="http://localhost:6300/API/FxtAPI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFxt"
                contract="FxtAPI.IFxtAPI"  name="BasicHttpBinding_IFxtAPI" />
    </client>
  </system.serviceModel>
</configuration>

