<?xml version="1.0" encoding="utf-8"?>
<root>
  <accesstoken>BzKSGdaUW1b2EgdfAwcZ_ALAS0vLcXo3JgcCkuyiw90kmFTojVHakLoS1i75QSXM62yhTpHxkG21ESMXz7p3bpTEOEO3Nn56BT6qI6atnRhYWhK5Fs3fL43tsIu9J1QELIRhADAYVE</accesstoken>
  <expires_in>7200</expires_in>
  <get_token_time>2016/12/22 18:58:38</get_token_time>
</root>