<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kingsun.PSO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Kingsun.PSO.Properties.Settings>
            <setting name="Kingsun_PSO_SeparateAccountSystem_Ledger_Relation"
                serializeAs="String">
                <value>http://183.47.42.221:8038/WebServer/WebServicePatch.asmx</value>
            </setting>
            <setting name="Kingsun_PSO_KSWFWebService_KSWFWebService" serializeAs="String">
                <value>http://192.168.3.109:8088/Service/KSWFWebService.asmx</value>
            </setting>
        </Kingsun.PSO.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Ledger_RelationSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.3.91:10001/WebClientService/Ledger_Relation.asmx"
                binding="basicHttpBinding" bindingConfiguration="Ledger_RelationSoap"
                contract="Ledger_Relation.Ledger_RelationSoap" name="Ledger_RelationSoap" />
        </client>
    </system.serviceModel>
</configuration>