<?xml version="1.0"?>
<configuration>
  <!--配置区域开始-->
  <connectionStrings>
    <add name="FXTConnectionString" connectionString="Data Source =192.168.0.5;DataBase = FXTProject;User Id = fxtbase_user;Password =base*cn.com;MultipleActiveResultSets=true;Pooling=true;Max Pool Size=50;Min Pool Size=5;" />
    <add name="Mariadb_FXTConnectionString" connectionString="server=192.168.0.30;user id=datacenter_admin;password=jMFX8pj965kfBSGv;persistsecurityinfo=True;database=openplatform;Convert Zero Datetime=True;Allow Zero Datetime=True;Pooling=true;Max Pool Size=50;Min Pool Size=5;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <!--根目录-->
    <add key="rooturl" value="/" />
    <add key="ProjectPicPath" value="/ProjectPic" />
    <!--<add key="wcfusercenterservice" value="http://localhost:18726/uc/active"/>-->
    <add key="wcfusercenterservice" value="http://192.168.0.7:9994/uc/active" />
    <!--<add key="wcfusercenterservice" value="http://192.168.0.124:8200/uc/active"/>-->
    <!--流量控制-->
    <!--正式环境： open.yungujia.com
    测试环境： open.fxtchina.com-->
    <!--<add key="FlowMonitorUrl" value="http://open.fxtchina.com"/>-->
    <add key="FlowMonitorUrl" value="http://192.168.0.37:80"/>
    <!--正式-->
    <!--<add key="FlowMonitorUrl" value="http://open.yungujia.com"/>-->
    <!--oss上传基地址-->
    <add key="OssUpload" value="http://192.168.0.7:9978/"/>
    <!--oss下载基地址-->
    <add key="OssDownload" value="http://imgtest.yungujia.com/"/>
    <!--博纳城市均价推送地址-->
    <add key="BNPushUrl" value="http://113.105.101.36:9080/FrameWeb/weixinCore/weixinInvoke"/>
    <!--数据中心app配置-->
    <add key="FxtDataCenterAppID" value="1003105" />
    <add key="FxtDataCenterApppwd" value="1337626291" />
    <add key="FxtDataCenterSignName" value="60765FEC-9156-409D-923E-A12EB53A1D1F" />
    <add key="FxtDataCenterAppKey" value="244636158" />
    <add key="FxtDataCenterSystypeCode" value="1003110"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Forms"/>
    <httpRuntime maxRequestLength="2097151" executionTimeout="360"/>
    <globalization fileEncoding="utf-8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <!--aspNetCompatibilityEnabled="true"-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestFxtCenterServiceBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="exceptionBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--webHttpBinding Rest standardEndpoints-->
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint maxReceivedMessageSize="2147483647" defaultOutgoingResponseFormat="Json" helpEnabled="true" automaticFormatSelectionEnabled="true" crossDomainScriptAccessEnabled="true">
          <readerQuotas maxArrayLength="2147483647"/>
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
    <bindings>
      <webHttpBinding>
        <binding crossDomainScriptAccessEnabled="false" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="64"/>
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFxtAPI"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.7:6300/API/FxtAPI.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFxtAPI" contract="wcf_projectavgprice.IFxtAPI" name="BasicHttpBinding_IFxtAPI"/>
    </client>
    <services>
      <service behaviorConfiguration="exceptionBehavior" name="FxtCenterService.Actualize.DataCenterService">
        <endpoint behaviorConfiguration="RestFxtCenterServiceBehavior" binding="webHttpBinding" contract="FxtCenterService.Contract.IDataCenterService"/>
      </service>
    </services>
  </system.serviceModel>
  <!--配置区域结束-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
    <defaultDocument>
      <files>
        <add value="data.htm" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering >
        <requestLimits maxAllowedContentLength="2147483647" ></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1024000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
