.diy_form-group{float:left !important; width:300px !important;}
.diy_form-group2{float:left !important; width:600px !important;}
.diy_fromlabel{float:left !important; width:70px !important; text-align:right !important;}
.diy_fromdiv{float:left !important; width:200px !important;}
.diy_fromdiv2{float:left !important; width:475px !important;}
.form-group input[type='text']{width:100% !important;}
.form-group {margin-bottom: 5px !important;}
.diy_form-actions{margin-top:5px; margin-bottom:0px;padding-bottom:5px; padding-top:5px;}
.diy_alert-danger{padding-bottom:5px; padding-top:5px; margin-bottom:0px;}
.pagination { margin-top:0px !important;margin-bottom:0px !important;}
#fancybox-wrap,#fancybox-wrap div:before,#fancybox-wrap div:after{-webkit-box-sizing:initial !important;-moz-box-sizing:initial !important;box-sizing:initial !important;}
.row { margin-left: 0px !important;margin-right: 0px !important;}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 
{ padding-left: 0px !important;padding-right: 0px !important;}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    padding-top: 4px;
    padding-bottom: 4px;
}
.table-responsive {
    margin-bottom: 0px;
}
.fontshow{color: #428BCA;}