@using FxtDataAcquisition.Domain.Models;
@using FxtDataAcquisition.Common;
@using FxtDataAcquisition.Application.Services;
@model List<AllotSurvey>
    @{
        Layout = null;
    }
    <!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8" />
        <title>Welcome - Ace Admin</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../../assets/css/font-awesome.min.css" />

        <!-- text fonts -->
        <link rel="stylesheet" href="../../assets/css/ace-fonts.css" />

        <!-- ace styles -->
        <link rel="stylesheet" href="../../assets/css/ace.min.css" id="main-ace-style" />

        <!--[if lte IE 9]>
        <link rel="stylesheet" href="../../assets/css/ace-part2.min.css" />
    <![endif]-->
        <link rel="stylesheet" href="../../assets/css/ace-skins.min.css" />
        <link rel="stylesheet" href="../../assets/css/ace-rtl.min.css" />

        <!--[if lte IE 9]>
      <link rel="stylesheet" href="../../assets/css/ace-ie.min.css" />
    <![endif]-->
        <!-- ace settings handler -->
        <script src="../../assets/js/ace-extra.min.js"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lte IE 8]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
        <div class="main-container" id="main-container">
            <!--整块-->
            <div class="row">
                <!--整块-->
                <div class="col-xs-12">
                    <div class="align-right">
                        <span class="green middle bolder"> &nbsp;</span>
                    </div>
                    <!-- PAGE CONTENT BEGINS -->
                    @{
                    var group = Model.GroupBy(m => m.StateDate.Value.ToString("yyyy-MM-dd"));
                    if (group != null && group.Count() > 0)
                    {
                        foreach (var item in group)
                        {
                        <div id="timeline-1">
                            <div class="row">
                                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                                    <!-- #section:pages/timeline -->
                                    <div class="timeline-container">
                                        <div class="timeline-label">
                                            <!-- #section:pages/timeline.label -->
                                            <span class="label label-primary arrowed-in-right label-lg">
                                                <b>@item.Key</b>
                                            </span>

                                            <!-- /section:pages/timeline.label -->
                                        </div>

                                        <div class="timeline-items">
                                            @{
                            foreach (var i in item)
                            {
                                                <div class="timeline-item clearfix">
                                                    <!-- #section:pages/timeline.info -->
                                                    <div class="timeline-info">
                                                        <i class="timeline-indicator ace-icon fa  btn btn-success no-hover"></i>
                                                        <span class="label label-info label-sm">@i.StateDate.Value.ToString("HH:mm")</span>
                                                    </div>

                                                    <!-- /section:pages/timeline.info -->
                                                    <div class="widget-box transparent">
                                                        <div class="widget-body">
                                                            <div class="widget-main">
                                                                @(i.TrueName.IsNullOrEmpty() ? i.UserName : i.TrueName)
                                                                &nbsp;
                                                                @Html.Raw(i.Remark)

                                                               
                                                                <div class="space-6"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                            }
                                            }

                                        </div><!-- /.timeline-items -->
                                    </div><!-- /.timeline-container -->
                                    <!-- /section:pages/timeline -->
                                </div>
                            </div>
                        </div>

                        }
                    }
                    }
                </div>
            </div>
        </div>
    </body>
</html>
<!-- page specific plugin scripts -->
