<?xml version="1.0"?>
<appSettings>
  <!-- 用户 -->
  <add key="UserUrl" value="http://192.168.0.7:9999/"/>
  <add key="CUser" value="handlers/user_handler.ashx"/>
  <add key="ListUser" value="handlers/user_list.ashx"/>
  <add key="FindUser" value="handlers/user_find.ashx"/>
  <add key="companylist" value="handlers/companylist.ashx"/>
  <!-- 上传 -->
  <add key="FilePath" value="/Upload"/>

  <!-- 复估所需地址 -->
  <add key="ReassUrl1" value="http://192.168.0.7:6300/API/FxtTask.svc/CList/{id}"/>
  <add key="ReassUrl2" value="http://192.168.0.7:6300/API/FxtTask.svc/Calculation/{id}"/>
  <add key="ReassUrl3" value="http://192.168.0.7:6300/API/FxtTask.svc/TU/"/>
</appSettings>
