<?xml version="1.0" encoding="utf-8"?>

<!-- 有关使用 web.config 转换的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    在下例中，“SetAttributes”转换将更改 
    “connectionString”的值，仅在“Match”定位器 
    查找到值为“MyDB”的特性“name”时使用“ReleaseSQLServer”。
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      在下例中，“Replace”转换将替换 
       Web.config 文件的整个 <customErrors> 节。
      请注意，由于 
      在 <system.web> 节点下仅有一个 customErrors 节，因此不需要使用“xdt:Locator”特性。
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <appSettings file="appSettings.Release.config"  xdt:Transform="Replace">
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!-- 读取用户中心公司列表所需参数 -->
    <add key="fxtusercenterservice" value="http://192.168.0.7:9994/uc/active"/>
    <add key="appid" value="1003105"/>
    <add key="systypecode" value="1003020"/>
    <add key="fxtcompanyid" value="25"/>
    <add key="fxtappKey" value="1442318247"/>
    <add key="fxtappPwd" value="1003818754"/>
    <add key="fxtsignname" value="4106DEF5-A760-4CD7-A6B2-8250420FCB18"/>
    <!-- 读取用户中心公司列表所需参数 end -->
  </appSettings>
  <system.serviceModel>
    <client xdt:Transform="Replace">
      <endpoint address="http://192.168.0.7:6300/FxtSpider/FxtSpider.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFxt"
                contract="FxtSpider.IFxtspider" name="BasicHttpBinding_IFxtspider"/>
      <endpoint address="http://192.168.0.7:6300/FxtUsers/FxtUsers.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFxt"
                contract="FxtUser.IFxtUsers" name="BasicHttpBinding_IFxtUser" />
      <endpoint address="http://192.168.0.7:6300/API/FxtAPI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFxt"
                contract="FxtAPI.IFxtAPI"  name="BasicHttpBinding_IFxtAPI" />
    </client>
  </system.serviceModel>
</configuration>