<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FxtSpider.Common.Properties.Settings.FxtProject_RawDataConnectionString"
            connectionString="Data Source=FXT00008;Initial Catalog=FxtProject_RawData;Persist Security Info=True;User ID=fxtuser"
            providerName="System.Data.SqlClient" />
        <add name="FxtSpider.Common.Properties.Settings.FxtProject_RawDataConnectionString1"
            connectionString="Data Source=FXT00008;Initial Catalog=FxtProject_RawData;Persist Security Info=True;User ID=fxtuser;Password=fxt.user"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>