/* here you can put your own css to customize and override the theme */
.lh40 {
     line-height:40px;height:40px;
}
.chartalignment {
    float:left; width:300px;height:260px; text-align:center;margin-left:50px;
    display:none;
}
.w100 {
    width: 100px;
}
.dn{
    display:none;
}