<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPropertyHand" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://vqcenterwcf.fxtchina.com/PropertyHand.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPropertyHand"
                contract="VQCenterService.IPropertyHand" name="BasicHttpBinding_IPropertyHand" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
