<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings />
  <connectionStrings>
    <add name="CaseUrl" connectionString="Data Source=192.168.0.5;Initial Catalog=FxtData_Case;Persist Security Info=True;User ID=fxtbase_user;Password=base*cn.com"/>
  </connectionStrings>
  
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProviderService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9800/ProviderService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IProviderService" contract="ProviderServiceRef.IProviderService"
        name="BasicHttpBinding_IProviderService" />
    </client>
  </system.serviceModel>
  
  
</configuration>