
<a data-toggle="dropdown" href="#" class="dropdown-toggle">
    <img class="nav-user-photo" src="/bootstrap/ace1.2/assets/avatars/user.jpg" alt="Jason's Photo"  style="display:none;"/>
    <span class="user-info">
        <small>欢迎光临,</small>
        @ViewBag.UserName
    </span>

    <i class="icon-caret-down"></i>
</a>