@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutHome.cshtml";
}
@section cssLink{
}
@section mainContent{
    
    <div class="col-lg-12">
        <h1 class="page-header">主页</h1>
    </div>
        <!-- /.col-lg-12 -->
    
    <div class="row">
    </div>
}
@section jsSrc{
    <!-- Morris Charts JavaScript -->
    <script src="../Template/vendor/raphael/raphael.js"></script>
    <script src="../Template/vendor/morrisjs/morris.js"></script>
}
