<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
<script src="/Scripts/FxtActions.js" type="text/javascript" />
<script type="text/javascript" src="Scripts/cas.input.js"></script>
    @RenderBody()     
</body>
</html>
