.pagination { margin-top:0px !important;}
.diy_btn { margin-bottom:5px; height:30px;}
.diy_col_left{padding-left:0px !important;}
.diy_col_right{text-align:right !important; padding-right:0px !important;}