.diy_form-group{float:left !important; width:300px !important;}
.diy_form-group2{float:left !important; width:600px !important;}
.diy_fromlabel{float:left !important; width:70px !important; text-align:right !important;}
.diy_fromdiv{float:left !important; width:200px !important;}
.diy_fromdiv2{float:left !important; width:475px !important;}
.form-group input[type='text']{width:100% !important;}
.form-group {margin-bottom: 5px !important;}
.diy_form-actions{margin-top:5px; margin-bottom:0px;padding-bottom:5px; padding-top:5px;}
.diy_alert-danger{padding-bottom:5px; padding-top:5px; margin-bottom:0px;}