<?xml version="1.0" encoding="utf-8" ?>
  <appSettings>
    <!--获取company相关功能-->
    <add key="companyone" value="GetCompanyByCode"/>
    <add key="companytwo" value="GetCompanyById"/>
    <add key="companythree" value="CompanyEdit"/>
    <add key="companyfour" value="GetCompanyBySearch"/>
    <add key="companyfive" value="GetCompanyBySignName"/>
    <add key="companysix" value="GetCompanyInfoIfSecurity"/>
    <add key="companyseven" value="GetCompanyList"/>
    
    <!--获取user相关功能-->
    <add key="userone" value="UserCheck"/>
    <add key="usertwo" value="UserAdd"/>
    <add key="userthree" value="UserFind"/>
    <add key="userfour" value="UserHandlerAdd"/>
    <add key="userfive" value="UserHandlerEdit"/>
    <add key="usersix" value="UserHandlerDelete"/>
    <add key="userseven" value="UserList"/>
    <add key="usereight" value="UpdatePwd"/>
    
    <!--获取mobilepush相关功能-->
    <add key="mpone" value="MobilePushBind"/>
    <add key="mptwo" value="MobilePushSend"/>
    <add key="mpthree" value="MobilePushEdit"/>
    <!--个推接口-->
    <add key="mpgtone" value="MobileGeTuiBind"/>
    <add key="mpgttwo" value="MobileGeTuiSend"/>
    
    <!--获取productfeedback相关功能-->
    <add key="pfbone" value="ProductFeedBack"/>   

    <!--获取sendsms相关功能-->
    <add key="ssone" value="SendSMS"/>
    
    <!--获取companyproduct相关功能-->
    <add key="cpone" value="GetCompanyProduct"/>
    <add key="cptwo" value="GetCompanyProductList"/>
    <!--获取公司开通产品的城市ID-->
    <add key="cptcityids" value="GetCompanyProductCityIds"/>

    <!--获取功能清单-->
    <add key="flone" value="GetFunlist"/>

    <!--获取产品的API信息-->
    <add key="productapiinfo" value="GetProductAPIInfo"/>
    <!--修复产品部分信息:CAS产品LOGO,CAS产品小LOGO，对外显示的产品名称，产品联系电话-->
    <add key="modifyproductpartinfo" value="UpdateProductPartialInfo"/>
    <!--根据WebUrl查询产品信息-->
    <add key="productinfobyurl" value="GetProductInfoByWebUrl"/>

    <!--系统操作日志-->
    <add key="lol" value="OperateLog"/>
    <!--登录日志-->
    <add key="silog" value="SignIn"/>
    <!--退出日志-->
    <add key="solog" value="SignOut"/>
    <!--更新在线时间-->
    <add key="updateonline" value="UpdateActiveTime"/>
    
  </appSettings>