@{
    ViewBag.Title = "Employee_Add";
    Layout = "~/Views/_LayoutHome.cshtml";
}
@section cssLink{
    <link href="~/Content/bootstrap-table-develop/src/bootstrap-table.css" rel="stylesheet" />

    <link href="~/Content/bootstrapvalidator-master/dist/css/bootstrapValidator.css" rel="stylesheet" />
    <style type="text/css">
        #userForm .form-group {
            width: 500px;
            margin-left: 100px;
            float: left;
        }

            #userForm .form-group .col-lg-5 {
                width: 300px;
            }

        .modal-dialog {
            z-index: 999999;
        }

        .btn-primary {
            display: none;
        }
    </style>
}
@section mainContent{
    <div class="col-lg-12">
        <h1 class="page-header">
            用户预览
            <span class="glyphicon glyphicon-menu-left" onclick="location.href = '/Employee/Index'" style="border:1px solid #ddd; padding:7px; border-radius:3px; margin-left:10px; cursor:pointer;">
            </span>
        </h1>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body" style="padding-bottom:0px;">
                <form id="userForm" method="post" class="form-horizontal" style=" width:100%;" action="#">
                    <div class="row">
                        <div style="width:90%; margin:0px auto; line-height:50px; font-size:16px; border-bottom:1px solid #ddd;   margin-bottom:20px;">账号信息</div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label"><em>*</em>用户名:</label>
                            <div class="col-lg-5">
                                <input type="text" disabled="disabled" class="form-control" name="username" id="username" />
                            </div>
                        </div>

                        <div style="width:90%; clear:both; margin:0px auto; line-height:50px; font-size:16px; border-bottom:1px solid #ddd;   margin-bottom:20px;">个人信息</div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label"><em>*</em>姓名 :</label>
                        <div class="col-lg-5">
                            <input type="text" disabled="disabled" class="form-control" id="Name" name="Name" />
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label"><em>*</em>手机号 :</label>
                        <div class="col-lg-5">
                            <input type="text" disabled="disabled" class="form-control" id="ParentMobile" name="ParentMobile" />
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">电子邮件:</label>
                        <div class="col-lg-5">
                            <input type="text" disabled="disabled" class="form-control" id="Email" name="Email" />
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">QQ:</label>
                        <div class="col-lg-5">
                            <input type="text" disabled="disabled" class="form-control" id="QQNo" name="QQNo" />
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label"><em>*</em>角色:</label>
                        <div class="col-lg-5">
                            <select disabled="disabled" class="form-control" id="group" name="group">
                                <option value="">选择角色</option>
                            </select>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label"><em>*</em>部门:</label>
                        <input id="DeptName" disabled="disabled" readonly="readonly" type="text" style="margin-left:15px; padding:5px 3px 5px 3px; width:270px;" />
                        <input id="DeptId" disabled="disabled" type="hidden" />
                        <input id="DeptParentid" disabled="disabled" type="hidden" />
                    </div>


                    <div style="clear:both;"></div>
                    <div id="areadiv">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">产品:</label>
                            <div class="col-lg-5" style="width:500px; margin-top:-30px;   padding:10px;  margin-left:140px;   ">
                                <div style=" height:30px;">
                                    <span id="ProductHtml"></span>
                                </div>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <input type="hidden" value="" id="SelectProductId" />
                        <div class="form-group" id="productresponsiblearea" style="display:none;">
                            <label class="col-lg-3 control-label">所选产品负责区域:</label>
                            <div class="col-lg-5" style="width:500px; margin-top:-30px;   padding:10px;  margin-left:140px;   ">
                                <div style=" height:30px;  padding-left:20px;">
                                    <input type="radio" name="same" value="0" disabled="disabled" checked="checked" id="Same" /><label for="Same" style=" margin-left:10px; font-size: 15px; font-weight: 500; color: #23527c; "> 相   &nbsp;&nbsp;   同</label> &nbsp;&nbsp; <input name="same" disabled="disabled" type="radio" value="0" id="NotSame" /> <label for="NotSame" style=" font-size: 15px; font-weight: 500; color: #23527c; ">不 &nbsp;相 &nbsp;同</label>
                                </div>
                            </div>
                        </div>
                        <div style="clear:both; height:10px;"></div>
                        <div class="form-group" style="display:none;" id="sponsiblearea">
                            <label class="col-lg-3 control-label"><em>*</em>负责区域:</label>
                            <input id="EmployeeDeptAreaIds" type="hidden" />
                            <div id="Area" class="col-lg-5" style="width:500px; height:auto;  margin-top:-30px; margin-bottom:-35px; padding:10px;  margin-left:140px; border:1px solid #ccc; overflow:auto;">
                            </div>
                            <input style="width:80px;   margin-left:656px;" type="button" onclick="selectdeptarea(0,0);" value="选择区域" class="btn btn-primary" />
                        </div>
                        <div style="clear:both;"></div>
                        <div class="form-group" style="display:none;" id="sponsibleareas">
                            <label class="col-lg-3 control-label"><em>*</em>负责区域:</label>
                            <span id="sponsibleareahtml"></span>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div style="clear:both; height:30px;"></div>
                    <div class="form-group" style="width:800px; margin-left:25px;">
                        <label class="col-lg-3 control-label"> 备注:</label>
                        <div class="col-lg-5" style=" width:600px;">
                            <textarea class="form-control" disabled="disabled" style=" height:80px" id="Remark" name="Remark"></textarea>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </form>
                <div class="modal-footer" style=" text-align:left; padding-left:300px;">
                    <div style="clear:both; height:100px;"></div>
                </div>
            </div>
        </div>
    </div>
}
@section jsSrc{
    <script src="~/Content/bootstrap-table-develop/src/bootstrap-table.js"></script>
    <script src="~/Content/bootstrap-table-develop/src/locale/bootstrap-table-zh-CN.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/pages/Employee_Add.js"></script>
    <script src="~/Scripts/bootstrap-treeview.js"></script>
    <script src="~/Content/bootstrapvalidator-master/dist/js/bootstrapValidator.js"></script>
}


