#fancybox-wrap,#fancybox-wrap div:before,#fancybox-wrap div:after{-webkit-box-sizing:initial !important;-moz-box-sizing:initial !important;box-sizing:initial !important;}
#login-box {
    overflow:visible !important;
}
.login-layout .widget-box .widget-main{padding-left:30px !important; padding-right:30px !important;}