
.diy_form-group{float:left !important; width:288px !important;}
.diy_form-group2{float:left !important; width:600px !important;}
.diy_fromlabel{float:left !important; width:100px !important; text-align:right !important; padding-left:0px !important;}
.diy_fromdiv{float:left !important; width:185px !important; padding-right:0px !important; padding-left:5px !important;}
.diy_fromdiv2{float:left !important; width:185px !important; padding-right:0px !important; padding-left:5px !important;}
.diy_fromdiv input[type='text']{width:100% !important;}
.diy_fromdiv2 input[type='text']{width: 50% !important;}
.diy_fromdiv2 select{height: 26px !important;}
.form-group {margin-bottom: 0px !important;}
.diy_form-actions{margin-top:5px; margin-bottom:0px;padding-bottom:5px; padding-top:5px;}
.diy_alert-danger{padding-bottom:5px; padding-top:5px; margin-bottom:0px;}
#fancybox-wrap,#fancybox-wrap div:before,#fancybox-wrap div:after{-webkit-box-sizing:initial !important;-moz-box-sizing:initial !important;box-sizing:initial !important;}
.page-header { padding-bottom: 0px !important; padding-top: 0px !important;}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, 
.table tbody > tr > td, .table tfoot > tr > td {
    padding: 2px;
}
.table label{font-size:12px !important;}
.table input{font-size:12px !important;}
.page-content {padding-left: 5px !important;padding-right: 5px !important;}
.tab-content{padding-left: 3px !important; padding-top:2px !important;}
.list-unstyled{float:left; width:100%; height:100%; }
.list-unstyled  li{float:left; width:140px; height:160px; margin-left:30px; margin-bottom:10px;  border:1px solid black; background-color: bisque;}
.list-unstyled li img {width: 138px;height: 135px;}
