<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler,Common.Logging" requirePermission="false" />
      <!--<section name="nlog" type="NLog.Config.ConfigSectionHandler,NLog" />-->
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog40">
        <arg key="configType" value="file" />
        <arg key="configFile" value="~/NLog.config" />
      </factoryAdapter>
    </logging>
  </common>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--FxtData_Case连接字符串-->
    <add name="FxtData_Case" connectionString="server=192.168.0.5;database=FxtData_Case;User Id = fxtbase_user;Password =base*cn.com;connect timeout=60" providerName="System.Data.SqlClient" />

  </connectionStrings>

  <appSettings>
    <!--tcp,https,http-->
    <add key="UsedProtocol" value="tcp"/>

    <!--数据导入正式库后是否从源数据库移除,true:移除-->
    <add key="RemoveData" value="false"/>
    <!--下面参数不要改-->
    <add key="CityList" value="1, 2, 6, 7"/>
    
  </appSettings>

  <system.serviceModel>
    <bindings>
      <!--<basicHttpBinding>
        <binding name="bcEndPointHttp" closeTimeout="00:10:00" openTimeout="00:05:00"
                 receiveTimeout="00:30:00" sendTimeout="00:30:00"
                 maxBufferSize="1073741824" maxBufferPoolSize="2147483647" maxReceivedMessageSize="1073741824"/>
      </basicHttpBinding>-->
      <basicHttpsBinding>
        <binding name="bcEndPointHttps" closeTimeout="00:10:00" openTimeout="00:05:00"
                 receiveTimeout="00:30:00" sendTimeout="00:30:00"
                 maxBufferSize="1073741824" maxBufferPoolSize="2147483647" maxReceivedMessageSize="1073741824">
          <security mode="Transport" />
        </binding>
      </basicHttpsBinding>
      <netTcpBinding>
        <binding name="bcEndPointTCP" closeTimeout="00:10:00" openTimeout="00:05:00"
                 receiveTimeout="00:30:00" sendTimeout="00:30:00"
                 maxBufferSize="1073741824" maxBufferPoolSize="2147483647" maxReceivedMessageSize="1073741824">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://localhost/CDIService/CDIService.svc"
        binding="basicHttpBinding" contract="CDIService.ICDIService"
        name="EndPointHttp" bindingConfiguration="bcEndPointHttp" />-->
      <!--<endpoint address="https://localhost/CDIService/CDIService.svc"
        binding="basicHttpsBinding" contract="CDIService.ICDIService"
        name="EndPointHttps" bindingConfiguration="bcEndPointHttps"/>
      <endpoint address="net.tcp://localhost:808/CDIService/CDIService.svc"
        binding="netTcpBinding" contract="CDIService.ICDIService" 
        name="EndPointTCP" bindingConfiguration="bcEndPointTCP" />-->

      <endpoint address="https://caseimport.yungujia.com/CDIService.svc"
        binding="basicHttpsBinding" contract="CDIService.ICDIService"
        name="EndPointHttps" bindingConfiguration="bcEndPointHttps"/>
      <endpoint address="net.tcp://caseimport.yungujia.com:808/CDIService.svc"
        binding="netTcpBinding" contract="CDIService.ICDIService"
        name="EndPointTCP" bindingConfiguration="bcEndPointTCP" />
    </client>
  </system.serviceModel>
  
</configuration>