<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler,Common.Logging" requirePermission="false" />
      <!--<section name="nlog" type="NLog.Config.ConfigSectionHandler,NLog" />-->
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog40">
        <arg key="configType" value="file" />
        <arg key="configFile" value="~/NLog.config" />
      </factoryAdapter>
    </logging>
  </common>

  <!--配置区域开始-->
  <connectionStrings>
    <!--FxtProduct连接字符串-->
    <add name="FxtProduct" connectionString="server=192.168.0.5;database=FxtProduct;User Id = fxtbase_user;Password =base*cn.com;connect timeout=60" providerName="System.Data.SqlClient" />
    <!--RDS数据库服务器连接字符串-->
    <add name="FxtDataCenter" connectionString="server=192.168.0.5;database=FxtDataCenter;User Id = fxtbase_user;Password =base*cn.com;connect timeout=60" providerName="System.Data.SqlClient" />
    <!--RDS数据库服务器连接字符串-->
    <add name="FxtProject" connectionString="server=192.168.0.5;database=FxtProject;User Id = fxtbase_user;Password =base*cn.com;connect timeout=60" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <!--用户中心登陆API-->
    <add key="fxtusercenterloginservice" value="http://192.168.0.7:9994/uc/start" />

    <!--配置区域结束-->

    <!--查勘接口相关参数-->
    <add key="SplaType" value="ie" />
    <add key="PlatVer" value="7.01" />
    <add key="SType" value="gjb" />
    <add key="Version" value="4.26" />
    <add key="VCode" value="16" />
    <add key="SysTypeCode" value="1003101" />
    <add key="Channel" value="360" />

    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <!--用户登录时长，默认30*24小时，30天后需重新登录-->
    <add key="SessionTimeout"  value="720"/>

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <!--maxRequestLength就是文件的最大字符数，最大值不能超过2个G左右，executionTimeout是超时时间-->
    <httpRuntime targetFramework="4.5" maxRequestLength="1073741824" executionTimeout="3600"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICDIService" closeTimeout="00:10:00" openTimeout="00:05:00"
                 receiveTimeout="00:30:00" sendTimeout="00:30:00"
                 maxBufferSize="1073741824" maxBufferPoolSize="2147483647" maxReceivedMessageSize="1073741824">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="CDI.Service.CDIService">
        <!--<endpoint binding="basicHttpBinding" name="EndPointHttp" contract="CDI.Service.ICDIService" />-->
        <endpoint binding="basicHttpsBinding" name="EndPointHttps" contract="CDI.Service.ICDIService" />
        <endpoint binding="netTcpBinding" name="EndPointTCP" contract="CDI.Service.ICDIService"
                  bindingConfiguration="NetTcpBinding_ICDIService"/>
        <endpoint address="mex" binding="netTcpBinding" contract="IMetadataExchange" bindingConfiguration="NetTcpBinding_ICDIService" />
      </service>
    </services>

  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>

    <security>
      <requestFiltering>
        <!--修改服务器允许最大长度-->
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>

  </system.webServer>

</configuration>
