<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
		<section name="Kingsun.PSO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<!--测试公众要需要加<clear/>-->
		<!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Kingsun.TaskHelper.Web-20150617102505;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Kingsun.TaskHelper.Web-20150617102505.mdf" />-->
		<add name="KingsunConnectionStr" connectionString="Data Source=192.168.3.129;Initial Catalog=FZ_HopeChina;User ID=sa;Password=Kingsunsoft2008" providerName="System.Data.SqlClient" />
		<!--<add name="KingsunConnectionStr" connectionString="Data Source=192.168.3.7;Initial Catalog=FZ_SynchronousStudy;User ID=sa;Password=Kingsun2008" providerName="System.Data.SqlClient" />-->
		<!--<add name="KingsunConnectionStr" connectionString="Data Source=192.168.3.84;Initial Catalog=tongbuxue;User ID=sa;Password=aaabbb123" providerName="System.Data.SqlClient" />-->
		<!--<add name="KingsunConnectionStr" connectionString="Data Source=localhost;Initial Catalog=FZ_SynchronousStudy;User ID=sa;Password=Kingsunsoft2008" providerName="System.Data.SqlClient" />-->
    <add name="FZ_SynchronousStudy_Test" connectionString="Data Source=192.168.3.129;Initial Catalog=FZ_SynchronousStudy_Test;User ID=sa;Password=Kingsunsoft2008" providerName="System.Data.SqlClient" />
  </connectionStrings>
	<system.web>
	
		

		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" timeout="2880" />
		</authentication>
		<sessionState mode="InProc" timeout="30" />
	</system.web>

	<!--<applicationSettings>
    <Kingsun.SynchronousStudy.App.Properties.Settings>
      <setting name="Kingsun_SynchronousStudy_App_SMSService_SMSService" serializeAs="String">
        <value>http://183.47.42.221:8016/SMSService.asmx</value>
      </setting>
    </Kingsun.SynchronousStudy.App.Properties.Settings>
  </applicationSettings>-->

	<system.webServer>
		<!--<handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>-->
		<modules>
			<add name="PSOClient" type="Kingsun.PSO.PSOClient,Kingsun.PSO" />
		</modules>
		<defaultDocument>
			<files>
				<add value="index.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>

	<appSettings>
		<add key="Deny" value="/" />
		<add key="ValidatePage" value="/" />
		<add key="AppID" value="KS021801" />
		<add key="wxfenxiang" value="http://183.47.42.221:8001/" />
		<!--<add key="modUrl" value="http://183.47.42.221:8027/" />-->
		<add key="modUrl" value="http://metadata.kingsun.cn/Service/" />
		<add key="IsAdmin" value="" />
		<add key="Root" value="http://localhost:4463/" />
		<!--从文件服务器获取文件-->
		<add key="getFiles" value="http://183.47.42.221:8029/GetFiles.ashx" />
		<!--UUMS地址-->
		<add key="uumsRoot" value="http://192.168.3.2:8026/" />
		<add key="cookieName" value="FZKSTBX" />
		<add key="IsAdmin" value="/" />
		<add key="Index" value="/Index.aspx" />
		<add key="AdminPage" value="http://192.168.3.2:8026/manager/login.aspx" />
		<add key="LoginPage" value="/Login.aspx" />
		<add key="Mnum" value="," />
		<add key="LogPath" value="E:\log" />
		<add key="TaskTime" value="4" />
		<add key="RegisterStarTime" value="20170201" />
		<add key="RegisterEndTime" value="20170301" />
		<add key="MatchStarTime" value="20170302" />
		<add key="MatchEndTime" value="20170302" />
	</appSettings>
	<applicationSettings>
		<Kingsun.PSO.Properties.Settings>
			<setting name="Kingsun_PSO_UUMSService_FZUUMS_UserService" serializeAs="String">
				<value>http://183.47.42.221:8026/UserService/FZUUMS_UserService.asmx</value>
			</setting>
			<setting name="Kingsun_PSO_FZRelation_FZUUMS_Relation" serializeAs="String">
				<value>http://183.47.42.221:8026/UserService/FZUUMS_Relation.asmx</value>
			</setting>
		</Kingsun.PSO.Properties.Settings>

	</applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
