<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="Transform" value="Debug" />
    <!-- 非Asp.net应用配置 -->
    <!--<add key="SessionSourceType" value="threadStatic" />
    <add key="HttpSessionSourceItemName" value="NHSession" />
    <add key="UserSessionSource" value="true"/>-->

    <!-- Asp.net应用配置 -->
    <!--<add key="SessionSourceType" value="http"/>
    <add key="HttpSessionSourceItemName" value="NHSession"/>
    <add key="UserSessionSource" value="true"/>-->
  </appSettings>
  <connectionStrings>
    <add name="default" connectionString="Data Source=192.168.0.5;Initial Catalog=FXTProject;Persist Security Info=True;User ID=fxtdata_user;Password=data123654" />
    <add name="fxtloan" connectionString="Data Source=192.168.0.5;Initial Catalog=FxtLoan;Persist Security Info=True;User ID=fxtdata_user;Password=data123654" />
    <add name="fxtdata" connectionString="Data Source=192.168.0.5;Initial Catalog=FxtData;Persist Security Info=True;User ID=fxtdata_user;Password=data123654" />
    <add name="fxttemp" connectionString="Data Source=192.168.0.5;Initial Catalog=FxtTemp;Persist Security Info=True;User ID=fxtdata_user;Password=data123654" />
  </connectionStrings>
  <system.web>    
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <system.serviceModel>    
    <bindings>
      <!-- webHttpBinding Rest ajax跨域 -->
      <webHttpBinding>
        <binding crossDomainScriptAccessEnabled="true" maxReceivedMessageSize="2147483647" />
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFxtspider" maxBufferPoolSize="21474835647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IFxtAPI" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" maxBufferPoolSize="21474835647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IFxtMobileAPI" maxBufferPoolSize="21474835647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="RestBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
        <behavior name="ServiceBehavior" />
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--standardEndpoints  Rest ajax跨域 -->
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint crossDomainScriptAccessEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="false" minFreeMemoryPercentageToActivateService="1" />

    <services>

      <!-- 抓取 -->
      <service behaviorConfiguration="metadataBehavior" name="FxtService.Service.FxtSpiderActualize.Fxtspider">
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFxtspider" contract="FxtService.Contract.FxtSpiderInterface.IFxtspider" />
        <!--
        备用
        <endpoint binding="basicHttpBinding" contract="FxtService.Contract.FxtSpiderInterface.IFxtspider"
        behaviorConfiguration="ServiceBehavior" />-->
      </service>

      <!-- API -->
      <service behaviorConfiguration="metadataBehavior" name="FxtService.Service.APIActualize.FxtAPI">
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFxtAPI" contract="FxtService.Contract.APIInterface.IFxtAPI" />
      </service>

      <!-- Users -->
      <service behaviorConfiguration="metadataBehavior" name="FxtService.Service.FxtUsersActualize.FxtUser">
        <endpoint binding="basicHttpBinding" contract="FxtService.Contract.FxtUsersInterface.IFxtUsers" />
      </service>

      <!-- Data -->
      <service behaviorConfiguration="metadataBehavior" name="FxtService.Service.FxtLoanActualize.FxtCollaterals">
        <endpoint binding="basicHttpBinding" contract="FxtService.Contract.FxtLoanInterface.IFxtCollaterals" />
      </service>

      <!-- MobileAPI -->
      <service behaviorConfiguration="metadataBehavior" name="FxtService.Service.APIActualize.FxtMobileAPI">
        <!--<host>
          <baseAddresses>
            <add baseAddress=" http://localhost:6300/FxtMobileAPI/"/>
          </baseAddresses>
        </host>-->
        <endpoint name="post" binding="webHttpBinding" behaviorConfiguration="RestBehavior" contract="FxtService.Contract.APIInterface.IFxtMobileAPI" />
      </service>
      <!-- TaskAPI -->
      <service behaviorConfiguration="metadataBehavior" name="FxtService.Service.APIActualize.FxtTask">
        <endpoint binding="webHttpBinding" behaviorConfiguration="RestBehavior" contract="FxtService.Contract.APIInterface.IFxtTask" />
      </service>
      
    </services>
  </system.serviceModel>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
