<?xml version="1.0" encoding="utf-8" ?>
  <appSettings>
    <!--获取company相关功能-->
    <add key="companyone" value="GetCompanyByCode"/>
    <add key="companytwo" value="GetCompanyById"/>
    <add key="companythree" value="CompanyEdit"/>
    <add key="companyfour" value="GetCompanyBySearch"/>
    <add key="companyfive" value="GetCompanyBySignName"/>
    <add key="companysix" value="GetCompanyInfoIfSecurity"/>
    
    <!--获取user相关功能-->
    <add key="userone" value="UserCheck"/>
    <add key="usertwo" value="UserAdd"/>
    <add key="userthree" value="UserFind"/>
    <add key="userfour" value="UserHandlerAdd"/>
    <add key="userfive" value="UserHandlerEdit"/>
    <add key="usersix" value="UserHandlerDelete"/>
    <add key="userseven" value="UserList"/>
    <add key="usereight" value="UpdatePwd"/>
    
    <!--获取mobilepush相关功能-->
    <add key="mpone" value="MobilePushBind"/>
    <add key="mptwo" value="MobilePushSend"/>
    <add key="mpthree" value="MobilePushEdit"/>
    
    <!--获取productfeedback相关功能-->
    <add key="pfbone" value="ProductFeedBack"/>   

    <!--获取sendsms相关功能-->
    <add key="ssone" value="SendSMS"/>
    
    <!--获取companyproduct相关功能-->
    <add key="cpone" value="GetCompanyProduct"/>
    <add key="cptwo" value="GetCompanyProductList"/>

    <!--获取功能清单-->
    <add key="flone" value="GetFunlist"/>

  </appSettings>