<table style="width: 100%; margin-bottom: 10px; line-height: 35px;">
    <tr>
        
        
        
    </tr>
</table>
<table>

    <tr>
        <td>
            <a href="javascript:void(0)" id="click_ok" value="">点击更多</a>
        </td>
    </tr>
</table>
<script src="/Content/layer-v1.7.1/jquery-1.10.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("#click_ok").click(function () {
            alert(111);
            $.ajax({
                type: "POST",
                datatype: "Json",
                cache: false,
                url: "/house/project/Test",
                data: { chinesename: "afasdf", cityid: 6 },
                success: function () {

                }
            });
        });

    });
</script>