
.diy_form-group{float:left !important; width:293px !important;}
.diy_form-group2{float:left !important; width:600px !important;}
.diy_fromlabel{float:left !important; width:100px !important; text-align:right !important; padding-left:0px !important;}
.diy_fromdiv{float:left !important; width:190px !important; padding-right:0px !important; padding-left:5px !important;}
.diy_fromdiv2{float:left !important; width:475px !important; padding-right:0px !important;}
.form-group input[type='text']{width:100% !important;}
.form-group {margin-bottom: 0px !important;}
.diy_form-actions{margin-top:5px; margin-bottom:0px;padding-bottom:5px; padding-top:5px;}
.diy_alert-danger{padding-bottom:5px; padding-top:5px; margin-bottom:0px;}
#fancybox-wrap,#fancybox-wrap div:before,#fancybox-wrap div:after{-webkit-box-sizing:initial !important;-moz-box-sizing:initial !important;box-sizing:initial !important;}
.page-header { padding-bottom: 0px !important; padding-top: 0px !important;}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, 
.table tbody > tr > td, .table tfoot > tr > td {
    padding: 2px;
}
.table label{font-size:12px !important;}
.table input{font-size:12px !important;}
.page-content {padding-left: 5px !important;}