<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问 
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings file="Dict/Dictionary.config">
    <!--根目录-->
    <add key="rooturl" value="/"/>
    <!--productfeedback-->
    <add key="applytrymail" value="huy@fxtcn.com,tanl@fxtcn.com"/>
    <add key="recivemail" value="huy@fxtcn.com,tanl@fxtcn.com"/>
    <add key="sendmail" value="tanl@fxtcn.com"/>
    <add key="mailaccount" value="tanl@fxtcn.com"/>
    <add key="mailpassword" value="tan123"/>
    <add key="smtpserver" value="smtp.exmail.qq.com"/>
    <add key="smtpport" value="25"/>
    <!--<要验证密码是否简单的产品Code/>-->
    <add key="pwdsimpleischecksystypecode" value="1003020,1003021"/>
    <!--<修改密码的域名/>-->
    <add key="updatepwdurl" value="http://192.168.0.103:7231/"/>
    <!--<add key="getui" value="http://192.168.0.7:9992/GeTui.ashx"/>-->
    <add key="getui" value="http://gt.fxtchina.com/GeTui.ashx"/>
    <add key="getuikey" value="17800E76215485A8FC37D9A59A019247"/>
    <!--日志记录-->
    <add key="FlowMonitorUrl" value="http://192.168.0.37:80"/>
  </appSettings>
  <connectionStrings>
    <add name="FXTConnectionString" connectionString="Data Source =192.168.0.5;DataBase = fxtusercenter;User Id = fxtuser;Password =user.cn.8899;Pooling=true;Max Pool Size=30;Min Pool Size=5;"/>
    <add name="OpenplatformContext" connectionString="server=192.168.0.30;user id=app-user_center;password=27Lmg8y9DF2jWgpV;persistsecurityinfo=True;database=openplatform;Convert Zero Datetime=True;Allow Zero Datetime=True;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Forms"/>
    <httpRuntime maxRequestLength="2097151"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <!--aspNetCompatibilityEnabled="true"-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestFxtUserCenterServiceBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="exceptionBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--webHttpBinding Rest standardEndpoints-->
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint maxReceivedMessageSize="2147483647" crossDomainScriptAccessEnabled="true">
          <readerQuotas maxArrayLength="2147483647"/>
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="64"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="exceptionBehavior" name="FxtUserCenterService.Actualize.UserCenter">
        <endpoint behaviorConfiguration="RestFxtUserCenterServiceBehavior" binding="webHttpBinding" contract="FxtUserCenterService.Contract.IUserCenter"/>
      </service>
      <service behaviorConfiguration="exceptionBehavior" name="FxtUserCenterService.Actualize.GeTui">
        <endpoint behaviorConfiguration="RestFxtUserCenterServiceBehavior" binding="webHttpBinding" contract="FxtUserCenterService.Contract.IGeTui"/>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
    <defaultDocument>
      <files>
        <add value="usercenter.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>