<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="console" type="log4net.Appender.ConsoleAppender" >
    <target value="Console.Out" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net" >

    <param name="File" value="DeBugLog/" />
    <param name="AppendToFile" value="false" />
    <!--最小锁定模型以允许多个进程可以写入同一个文件-->
    <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
    <param name="StaticLogFileName" value="false" />
    <param name="RollingStyle" value="Date" />
    <param name="DatePattern" value="&quot;DeBugLog_&quot;yyyy.MM.dd&quot;.log&quot;"  />

    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n" />
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="rollingFile" />
    <appender-ref ref="console" />
  </root>
  <logger name="NHibernate" additivity="false">
    <!--关闭NHibernate日志功能-->
    <level value="OFF" />
    <appender-ref ref="RollingLogFileAppender" />
  </logger>
  <logger name="NHibernate.SQL" additivity="false">
    <!--关闭NHibernate日志功能-->
    <level value="OFF" />
    <appender-ref ref="RollingLogFileAppender" />
  </logger>

</log4net>