@{
    ViewBag.Title = "修改密码";
    Layout = "";
}
<script type="text/javascript" src="Scripts/cas.input.js"></script>
<script type="text/javascript">
    var $form = $("#form");
    $form.attr("action", "/Users/ModifyPass");
    $.ActionFrom({
        toid: '#form',
        csStyle: false,
        form: $form,
        torules: $.modifypassrules,
        colse: false,
        complete: function () { }
    });

    //点击取消修改
    $("#btnCancel").click(function(){
        $("#customDialog").dialog('close');
    });

    //密码强度提示
    $("input[name=userpwd]").casPassword();
</script>
<div class="row">    
    <div class="col-md-12">
        <div class="portlet-body form">
            <form id="form" action="" class="form-horizontal">
                <div class="form-body">
                    <!-- BEGIN FORM-->
                    <div class="alert alert-error display-hide">
                        <button class="close" data-dismiss="alert"></button>
                        <span>输入有错误,请检查.</span>
                    </div>
                    <div class="alert alert-success display-hide">
                        <button class="close" data-dismiss="alert"></button>
                        <span>验证成功的!</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">
                           原密码<span class="required">*</span>
                        </label>
                        <div class="col-md-9">
                            <input type="password" name="olduserpwd" data-required="1" class="form-control" />
                        </div>
                    </div>                    
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            新密码<span class="required">*</span>
                        </label>
                        <div class="col-md-9">
                            <input type="password" name="userpwd" data-required="1" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            确认新密码<span class="required">*</span>
                        </label>
                        <div class="col-md-9">
                            <input type="password" name="sureuserpwd" data-required="1" class="form-control" />
                        </div>
                    </div>                    
                    <!-- END FORM-->
                </div>
                <div class="form-actions fluid">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green">
                             修改
                        </button>
                        <button type="button" class="btn default" id="btnCancel">
                            取消
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>