@{
    ViewBag.Title = "Purviews";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}

<div class="portlet box light-grey">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-globe"></i>权限列表</div>
        <div class="actions">
            <a class="btn green" href="#" 
                data-title="新增" 
                data-type="c"
                data-url="/Users/AddPurviews">
                <i class="icon-pencil"></i>新增
            </a>
        </div>
        <div class="tools" style="padding-right: 8px;">
            <a href="javascript:;" class="reload"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="form-inline">
            <div class="table-scrollable">
                <table class="table table-striped table-hover table-bordered dataTable" id="list">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 450px !important">
                                权限名称
                            </th>
                            <th>
                                创建时间
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div id="page_info" class="dataTables_info">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12">
                    <div class="dataTables_paginate paging_bootstrap">
                        <ul class="pagination">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $.ActionPage.pageSize = 10;
    $.ActionPage.pageIndex = 1;
    $.ActionList({
        tourl: "/Users/GetPurviewList",
        sdata: $.ActionPage
    });

    $.ActionOperta({
        toid: ".actions",
        ActionFormId: "#form",
        ActionFormRules: $.purviewrules,
        ReloadUrl: '/Users/Purviews'
    });
</script>
<script id="template" type="text/x-jquery-tmpl">
    <tr data-id="${Id}">
        <td scope="col" style="width: 450px !important">${PurviewName}</td>
        <td scope="col" style="width: 200px !important">${$item.dataFromat("yyyy-MM-dd")}</td>
        <td>
            <a class="btn"
               url="/Users/DelPurview/?id=${Id}"
               data-type="d"
               data-rloadurl='/Users/Purviews'>
                删除
            </a>
            <a class="btn"
               url="/Users/GetPurviews/?id=${Id}"
               data-url="/Users/UpdatePurviews/"
               data-type="u"
               data-title='修改'
               data-formid='#form'
               data-rules='$.purviewrules'
               data-rloadurl='/Users/Purviews'>
                修改
            </a>
        </td>
    </tr>
</script>
<script id="template-form" type="text/x-jquery-tmpl">
<div class="row">
    <div class="col-md-12">
        <div class="portlet-body form">
            <div class="form-body">
                <!-- BEGIN FORM-->
                <form id="form" action="" class="form-horizontal">
                <input type="hidden" name="id"/>
                <div class="alert alert-error display-hide">
                    <button class="close" data-dismiss="alert">
                    </button>
                    <span>输入有错误,请检查.</span>
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-dismiss="alert">
                    </button>
                    <span>验证成功!</span>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">
                        权限名称<span class="required">*</span></label>
                    <div class="col-md-4">
                        <input type="text" name="purviewname" data-required="1" class="form-control" />                        
                    </div>
                </div>                
                <div class="form-actions fluid">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green">
                            提交</button>
                        <button type="button" class="btn default">
                            取消</button>
                    </div>
                </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>
</script>