
<div class="widget-title" id="selectCityPanel">
    <div class="dataTables_length  dataTables_length_province">
        <label>
            省份: 
            <select id="selectProvinc" class="select1">
                    <option value="0" selected="selected">--全部--</option>
                @foreach (FxtSpider.FxtApi.Model.FxtApi_SYSProvince obj in ViewBag.ProvinceList)
                {
                    <option value="@obj.ProvinceId">@obj.ProvinceName</option>
                }
            </select>
        </label>
    </div> 
    <div class="dataTables_length  dataTables_length_city">
        <label>
            城市: 
            <select id="selectCity" class="select1">
                    <option value="0," selected="selected">--全部--</option>
                @foreach (FxtSpider.FxtApi.Model.FxtApi_SYSCity obj in ViewBag.CityList)
                {
                    <option value="@obj.CityId,@obj.CityName" class="city province_@obj.ProvinceId">@obj.CityName</option>
                }
            </select>
        </label>
    </div>
    <div class="dataTables_length  dataTables_length_area">
        <label>
            行政区: 
            <select id="selectArea" class="selectArea">
                    <option value="0," selected="selected">--全部--</option>
            </select>
        </label>
    </div>            
</div>
