@{
    ViewBag.Title = "Agent_Detailed";
    Layout = "~/Views/_LayoutHome.cshtml";
}
@section cssLink{
    <link href="~/Content/bootstrap-table-develop/src/bootstrap-table.css" rel="stylesheet" />

    <link href="~/Content/bootstrapvalidator-master/dist/css/bootstrapValidator.css" rel="stylesheet" />
    <style type="text/css">
        #AgentForm .form-group {
            width: 500px;
            margin-left: 100px;
            float: left;
        }

            #AgentForm .form-group .col-lg-5 {
                width: 300px;
            }

        .modal-dialog {
            z-index: 999999;
        }

        .btn-primary {
            display: none;
        }
    </style>
}
@section mainContent{
    <div class="col-lg-12">
        <h1 class="page-header">
            代理商预览
            <span class="glyphicon glyphicon-menu-left" onclick="location.href = '/Agent/Index'" style="border:1px solid #ddd; padding:7px; border-radius:3px; margin-left:10px; cursor:pointer;">
            </span>
        </h1>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body" style="padding-bottom:0px;">
                <form id="AgentForm" method="post" class="form-horizontal" style=" width:100%;" action="#">
                    <div class="row">
                        <div style="width:90%; margin:0px auto; line-height:50px; font-size:16px; border-bottom:1px solid #ddd;   margin-bottom:20px;">代理商信息</div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label"><em>*</em>代理商名称 :</label>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" id="agentname" name="agentname" disabled="disabled" />
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label"><em>*</em>签约期:</label>
                            <div class="col-lg-5">
                                <input type="text" disabled="disabled" data-options="" class="form-control" id="agentstartdata" name="agentstartdata" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd', maxDate: '#F{$dp.$D(\'agentenddata\')}', readOnly: true })" />
                            </div>
                        </div>
                        <div class="form-group" style="margin-left:-140px;">
                            <label class="col-lg-3 control-label">至:</label>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" disabled="disabled" style="margin-left: 0px;" id="agentenddata" name="agentenddata" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd', minDate: '#F{$dp.$D(\'agentstartdata\')}', readOnly: true })" />
                            </div>
                        </div>
                        <div style="clear:both;"></div>

                        <div class="form-group" style="display:none;">
                            <label class="col-lg-3 control-label"><em>*</em>部门:</label>

                            <span id="deptname" style="margin-left: 15px;line-height: 35px;"></span>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label"><em>*</em>渠道经理:</label>
                            <div class="col-lg-5">
                                <select class="form-control" id="channel" disabled="disabled" name="channel"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="hidden" id="channeldeptid" />
                            <input id="DeptParentid" type="hidden" />
                        </div><div style="clear:both; height:10px;"></div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">产品:</label>
                            <div class="col-lg-5" style="width:500px; margin-top:-30px;   padding:10px;  margin-left:140px;   ">
                                <div style=" height:30px;">
                                    <span id="ProductHtml"></span>
                                </div>
                            </div>
                        </div>
                        <div style="clear:both; height:10px;"></div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label"><em>*</em>负责区域:</label>
                            <input id="EmployeeDeptAreaIds" type="hidden" />
                            <div id="Area" class="col-lg-5" style="width:500px; height:120px;  margin-top:-30px; margin-bottom:-35px; padding:10px;  margin-left:140px; border:1px solid #ccc; overflow:auto;">
                            </div>
                            <input style="width:80px;   margin-left:656px;" type="button" onclick="selectdeptarea();" value="选择区域" class="btn btn-primary" />
                        </div>
                        <div style="clear:both; height:30px;"></div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">电话:</label>
                            <div class="col-lg-5">
                                <input type="text" disabled="disabled" class="form-control" id="agenttel" name="agenttel" />
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">邮政编码:</label>
                            <div class="col-lg-5">
                                <input type="text" disabled="disabled" class="form-control" id="postal" name="postal" />
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label"> 传真 :</label>
                            <div class="col-lg-5">
                                <input type="text" disabled="disabled" class="form-control" id="fax" name="fax" />
                            </div>
                        </div>
                        <div style="clear:both;"></div>

                        <div class="form-group" style="width:800px; margin-left:25px;">
                            <label class="col-lg-3 control-label"> 地址:</label>
                            <div class="col-lg-5" style=" width:600px;">
                                <textarea class="form-control" disabled="disabled" style="height:80px;" id="agentaddr" name="agentaddr"></textarea>
                            </div>
                        </div>
                        <div style="clear:both;"></div>

                        <div class="form-group" style="width:800px; margin-left:25px;">
                            <label class="col-lg-3 control-label"> 备注:</label>
                            <div class="col-lg-5" style=" width:600px;">
                                <textarea class="form-control" disabled="disabled" style="height:80px;" id="Remark" name="Remark"></textarea>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="row">
                        <div style="width:90%; margin:0px auto; line-height:50px; font-size:16px; border-bottom:1px solid #ddd;   margin-bottom:20px;">负责人信息</div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label"><em>*</em>姓名 :</label>
                            <div class="col-lg-5">
                                <input type="text" disabled="disabled" class="form-control" id="Name" name="Name" />
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label"><em>*</em>手机号 :</label>
                            <div class="col-lg-5">
                                <input type="text" disabled="disabled" class="form-control" id="ParentMobile" name="ParentMobile" />
                            </div>
                        </div>
                        <div style="clear:both;"></div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">电子邮件:</label>
                            <div class="col-lg-5">
                                <input type="text" disabled="disabled" class="form-control" id="Email" name="Email" />
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">QQ:</label>
                            <div class="col-lg-5">
                                <input type="text" disabled="disabled" class="form-control" id="QQNo" name="QQNo" />
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="row">
                        <div style="width:90%; margin:0px auto; line-height:50px; font-size:16px; border-bottom:1px solid #ddd;   margin-bottom:20px;">账号信息</div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label"><em>*</em>用户名:</label>
                            <div class="col-lg-5">
                                <input type="text" disabled="disabled" class="form-control" name="username" id="username" />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer" style=" text-align:left; padding-left:300px;">
                    <div style="clear:both; height:100px;"></div>
                </div>
            </div>
        </div>
    </div>
}
@section jsSrc{
    <script src="../Content/WdatePicker.js"></script>
    <script src="~/Content/bootstrap-table-develop/src/bootstrap-table.js"></script>
    <script src="~/Content/bootstrap-table-develop/src/locale/bootstrap-table-zh-CN.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/bootstrap-treeview.js"></script>
    <script src="~/Scripts/pages/Agent_Add.js"></script>
    <script src="~/Content/bootstrapvalidator-master/dist/js/bootstrapValidator.js"></script>
}


