@{
    Layout = null;
}

<script src="~/Scripts/DatabaseCall/DatabaseCall.js"></script>
<script type="text/javascript">
    $(function () {
        //SetLeftMenu("5_1");
    });
</script>

<div class="page-header" style="display:none">
    <h1>
        Tables
        <small>
            <i class="icon-double-angle-right"></i>
            Static &amp; Dynamic Tables
        </small>
    </h1>
</div>
<!--整块-->
<div class="row">
    <!--整块-->
    <div class="col-xs-12">
        <!--第一个表格-->
        <div class="row" id="databaseCallPanel">
            <div class="col-xs-12">
                <div class="col-xs-6 col-sm-3 diy_col_left" id="topOperate">
                    共<span id="countShow">0</span>条
                </div>
                <div class="col-xs-6 col-sm-9 diy_col_right">
                    楼盘名称
                    <input type="text" class="search-query" style="width:20%;" id="txtProjectName">
                    行政区
                    <select id="selectArea">
                        <option value="0">---全市--</option>
                        @foreach (FxtDataAcquisition.Domain.DTO.FxtDataWcfDTO.FxtApi_SYSArea obj in ViewBag.AreaList)
                        {
                            <option value="@obj.AreaId" class="areaId_@obj.AreaId">@obj.AreaName</option>
                        }
                    </select>
                    片区
                    <select id="selectSubArea">
                        <option value="0">请选择</option>
                    </select>
                    <button type="button" class="btn btn-inverse btn-xs diy_search_btn" id="btnSearch">
                        搜索
                        <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                    </button>
                    <button class="btn btn-xs btn-primary diy_btn" id="btnCall">
                        导入
                        <i class="ace-icon fa fa-plus icon-on-right bigger-110"></i>
                    </button>
                    <button class="btn btn-xs btn-primary diy_btn" id="btnCallAll">
                        全部导入
                        <i class="ace-icon fa fa-plus icon-on-right bigger-110"></i>
                    </button>
                    <button class="btn btn-xs btn-primary diy_btn" id="btnAdd">
                        新增任务
                        <i class="ace-icon fa fa-plus icon-on-right bigger-110"></i>
                    </button>
                    <button type="button" class="btn btn-xs btn-primary diy_btn" id="btnExcelIn">
                        Excel导入
                        <i class="ace-icon fa fa-plus icon-on-right bigger-110"></i>
                    </button>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="table-responsive">
                    <h3 class="header smaller lighter blue">数据中心楼盘列表</h3>
                    @*<div class="table-header">
                            数据中心楼盘列表
                        </div>*@
                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">
                                    <label id="cbAllPanel">
                                        <input type="checkbox" class="ace" id="cbAll">
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th>行政区</th>
                                <th>片区</th>
                                <th>楼盘名称</th>
                                <th>别名</th>
                                <th>地址</th>
                                <th>详细</th>
                                @*<th>楼栋数</th>
                                    <th>总套数</th>*@
                            </tr>
                        </thead>
                        <tbody id="databaseCallRowList">
                            <tr id="databaseCallRow" style="display:none;">
                                <td class="center" width="50">
                                    <label class="cbPanel">
                                        <input type="checkbox" class="ace cb_select">
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                                <td width="100">
                                    <span class="txt_area" data-statusid="">行政区</span>
                                </td>
                                <td width="150">
                                    <span class="txt_subarea" data-statusid="">片区</span>
                                </td>
                                <td width="200">
                                    @*<span><a href="javascript:;" class="txt_projectname" target="_blank">楼盘名称</a></span>*@
                                    <span class="txt_projectname" data-statusid="">楼盘名称</span>
                                </td>
                                <td width="100">
                                    <span class="txt_othername" data-statusid="">别名</span>
                                </td>
                                <td width="250">
                                    <span class="txt_address" data-statusid="">地址</span>
                                </td>
                                <td width="100">
                                    @*<a href="javascript:;" class="openProjectInfo">详细>></a>*@
                                    <button type="button" class="btn btn-info btn-xs diy_search_btn txt_detailed">
                                        详细
                                    </button>
                                </td>
                                @*<td width="100">
                                        <button type="button" class="btn btn-info btn-xs diy_search_btn txt_buildingnum" id="btnBuilding">
                                            楼栋数
                                        </button>
                                    </td>
                                    <td width="100">
                                        <button type="button" class="btn btn-info btn-xs diy_search_btn txt_totalnum" id="btnSearch">
                                            总套数
                                        </button>
                                    </td>*@
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
            </div><!-- /span -->
            <div class="col-xs-12">
                <input type="hidden" value="" id="hdDatabaseCallCount" />
                <ul id="example" data-count=""></ul>
            </div>
        </div>

    </div>
</div>
@*存储当前用户所拥有的权限*@
<div style="display:none;" id="divFunctionCodes">
    @foreach (int code in ViewBag.FunctionCodes)
    {
        <span class="functioncode functioncode_@code">@code</span>
    }
</div>
<script type="text/javascript">
	var scripts = [null, null]
	ace.load_ajax_scripts(scripts, function() {
	  //inline scripts related to this page
		 jQuery(function($) {
		$('#loading-btn').on(ace.click_event, function () {
			var btn = $(this);
			btn.button('loading')
			setTimeout(function () {
				btn.button('reset')
			}, 2000)
		});

		$('#id-button-borders').attr('checked' , 'checked').on('click', function(){
				$('#default-buttons .btn').toggleClass('no-border');
		});
	})
	});
</script>
