@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0;}
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动*/
img {border:0;	vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙*/
table { border-collapse:collapse; }
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff
}
a {color:#666; text-decoration:none; }
s,i,em{font-style:normal;text-decoration:none;}


.fl {
    float:left
}
.fr {
    float:right
}
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}



@media screen and (max-width:360px){
    
};

 /*弹出框*/
.box{position: fixed;width: 76%;top: 24%;left: 12%;z-index: 10001; background-color:#fff; text-align:center;
 display:none; overflow: hidden; border-radius: 10px; padding: 0 0 20px;}
.box .box_bag{width: 120%; margin-top:-60%; margin-left:-10%;}
.box ul{ display:flex;align-items:flex-start; margin:3% 0 20%;}
.box ul li{flex-grow:1;}
.box ul li p{ font-size: 12px; margin-top:10px; color: #3D3838;}
.box ul li img{width: 60%;}
.box .cancel{color: #3D3838; font-size:16px;}
.box1{position: fixed;width: 76%;top: 24%;left: 12%;z-index: 10001; background-color:#fff; text-align:center;
 display:none; overflow: hidden; border-radius: 10px; padding: 0 0 20px;}
.box1 .box_bag{width: 80%; margin-top:-50%;}
.box1 p{ font-size: 22px; color: #3D3838; margin:15% 0 30%; font-weight: 700;letter-spacing: 1px;}
.box1 .close{color: #3D3838; font-size:16px;}
.box2{position: fixed;width: 56%;top: 25%;left: 12%;z-index: 10001; background-color:#fff; text-align:center;
 display:none; overflow: hidden; border-radius: 10px; padding: 20px 10% 10px;}
.box2 h3{color:#3D3838; font-size: 16px; margin-bottom: 20px;letter-spacing: 1px; font-weight:600;}
.box2 p{text-align:left; color: #868BA0; line-height: 40px;} 
.box2 .p1{overflow: hidden; margin-bottom: 20%;}
.box2 p b{font-weight:normal; margin-left: 5px;}
.box2 .close{color: #3D3838; font-size:16px;}
.shadow{position: fixed;opacity: 0.5;filter: alpha(opacity=50);bottom: 0;left: 0;
right: 0;top: 0;background: black;z-index: 10000; display:none;}
/*弹出层背景*/
.zhezhao{position: fixed;top: 0%;left: 0%;width: 100%;height: 100%;background-color: black;z-index:1001;-moz-opacity: 0.9;opacity:.70;filter: alpha(opacity=70);}
.zong .hezi{ width:60%;position: fixed;top: 30%;left: 20%;z-index:1002; background-color:#fff; text-align:center; border-radius:10px;
}
.zong .hezi p{ font-size:16px; padding:30px 0;}