
@{
    ViewBag.Title = "同步学分享";
}
<!doctype html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <title>分享</title>
    <link href="~/Content/css/apply.css" rel="stylesheet" /> 
</head>

<body class="body3">
    <header class="head1" style="display:none;">
        <a href="#" class="back"><img src="../images/back.png" alt=""></a>
        <h2>同步学</h2>
    </header>
    <main class="main6">
        <div class="tou">
            <img src="../images/tou1.png" alt="">
        </div>
        <h2>老师老师</h2>
        <p>快去同步学创建班级</p>
        <p>邀请我们学习吧</p>
        <a href="http://tbx.kingsun.cn/downloadlist.html" class="Create">创建班级</a>
    </main>

</body>
</html>


