@charset "utf-8";
/* CSS Document */
/*顶部工具栏样式*/
.toolBar{background:#fff;position:relative;zoom:1;height:45px;}
.toolBar table{ border-collapse:collapse;}
.toolBar table td{padding:0;padding-right:5px;}
.leftTools{width:100%; position:absolute;left:0;top:5px;}
.rightTools{width:200px; position:absolute;right:0;top:5px;}
/*****
     MainTable
*****/
.MainTable {width:100%; border-collapse:collapse;line-height:30px;table-layout:fixed;}
.MainTable thead {background:#fff; font-weight:bold; color:#454545; border-top:1px solid #c7c7c7; border-bottom:1px solid #c7c7c7;}
/*升序降序*/
.MainTable thead td span{clear:both;display:block;height:0; position:relative;width:100%;}
.MainTable thead td span i{ position:absolute;right:5px;top:-19px; cursor:pointer;}
.MainTable thead td span i.ascIco{width:0;height:10px;border-left:5px #fff solid;border-right:5px #fff solid;border-bottom:5px #f3a03f solid;top:-29px;}
.MainTable thead td span i.descIco{width:0;height:10px;border-left:5px #fff solid;border-right:5px #fff solid;border-top:5px #f3a03f solid;}

.MainTable td {height:42px;}

.MainTable tbody strong {display:block; color:#333; margin-bottom:6px;}
.MainTable tbody strong s {position:relative; top:4px; *top:2px; margin-left:6px; z-index:1;}
.MainTable tbody strong a {line-height:18px;}
.TdNoBorder tbody tr {border:2px solid #fff; background:#f5f5f5;}
.TdNoBorder tbody tr.evenRow {background:#f5f5f5;}
.TdNoBorder tbody tr.oddRow {background:#f0f0f0;}
.TdNoBorder tbody tr.activeRow{background:#e0e9c2;}
.TdNoBorder td {font-size:12px;height:42px;}

.MainTableQuote{width:50px; height:15px; float:left; margin-right:5px;}
.MainTableQuote:hover{background-position:0 -15px;}
.MainTableQuote:active{background-position:0 -30px;}
.MainTableQuoteNormal,.MainTableQuoteNormal:hover,.MainTableQuoteNormal:active{background-position:0 -45px;}

.MainTableComment{width:25px; height:15px; float:left; margin-right:5px;}
.MainTableComment:hover{background-position:0 -15px;}
.MainTableComment:active{background-position:0 -30px;}
.MainTableCommentNormal,.MainTableCommentNormal:hover,.MainTableCommentNormal:active{background-position:0 -45px;}

.MainTableStar{width:63px; height:11px; float:left; margin:2px 0 0 0; overflow:hidden; background:url(/images/Public/icons/MainTableStar.png) 0 -12px no-repeat;}
.MainTableStar s{width:63px; height:11px; float:left; background:url(/images/Public/icons/MainTableStar.png) 0 0 no-repeat;}
s.MainTableStarWidth{width:0px;}
s.MainTableStarWidth_01{width:13px;}
s.MainTableStarWidth_01_1{width:20px;}
s.MainTableStarWidth_02 {width:26px;}
s.MainTableStarWidth_02_1{width:33px;}
s.MainTableStarWidth_03 {width:39px;}
s.MainTableStarWidth_03_1 {width:45px;}
s.MainTableStarWidth_04 {width:52px;}
s.MainTableStarWidth_04_1 {width:58px;}
s.MainTableStarWidth_05 {width:65px;}
.StarSpan {float:left; margin:-6px 0 0 8px;}

.LessonMainRightItem #dvLesson table tr b,
.LessonMainRightItem #dvTutorial table tr b,
.LessonMainRightItem #dvWork table tr b,
.LessonMainRightItem #dvResource table tr strong,
.LessonMainRightItem #dvVideoWork table tr strong,
.LessonMainRightItem #dvCourseTarget table tr b,
.LessonMainRightItem #dvCourseWork table tr strong,
.LessonMainRightItem #dvBBS  table tr strong,
#dvProcessType table tr b,#dvProcessType table tr strong{margin-left:20px;}
#lessonBBS table{line-height:normal;}
#lessonBBS .DiscussListItem{border-top:none;}
#lessonBBS .DiscussListItem .DiscussName{width:530px;}
.MainTable .mceEditor tr{background:none;}
/*****
    分页控件
*****/
.MainTable .FontTable tr,.MainTable .FontTable tr td {border:0;}
.font_page a{display:inline-block; height:30px; width:30px; text-align: center; line-height: 30px; font-family:Arial;position:relative; text-decoration:none; color:#7F7F7F; font-size:14px; font-weight:bold; margin:0 2px;background: url(/images/PageBg.png) no-repeat left top;}
.font_page a:hover{background-position:0 -30px;}
.font_page a:active{background-position:0 -60px;}
.font_page a.Current{background-position:0 -90px; color:White;}
.font_page a b{cursor:pointer; width:6px; height:12px;position:absolute; left:11px; top:9px;background:url(/images/PageBg.png) no-repeat;}
.font_page a.PrevPage b{background-position:0 -150px;}
.font_page a.NextPage b{background-position:-7px -150px; left:13px;}
.font_page a em{cursor:pointer; width:10px; height:12px;position:absolute; left:9px; top:9px;background:url(/images/PageBg.png) no-repeat;}
.font_page a.FirstPage em {background-position:0 -163px;}
.font_page a.LastPage em {background-position:-11px -163px; left:12px;}
.PageInput {width:20px; height:26px; line-height:26px; border:1px solid #c1c1c1; padding:0 2px; margin-left:20px; margin-top:-4px; *margin-top:0px;}
.font_page a.font12 {font-size:12px;}

a.linkView,a.linkEdit,a.linkDel,a.linkDown,a.linkUp{width:23px;hieght:23px;text-decoration:none;margin-right:5px;display:block;float:left;margin-left:10px; text-indent:-9999px;}
a.linkEdit{background:url(../images/listIco.png) no-repeat -398px 0px;}
a.linkEdit:hover{ background-position:-398px -45px;}
a.linkView{background:url(../images/listIco.png) no-repeat -489px 0px;}
a.linkView:hover{ background-position:-489px -45px;}
a.linkDel{background:url(../images/listIco.png) no-repeat -534px 0px;}
a.linkDel:hover{ background-position:-534px -45px;}


a.linkDown{background:url(../images/listIco.png) no-repeat -578px 0px;}
a.linkDown:hover{ background-position:-578px -45px;}
a.linkUp{background:url(../images/listIco.png) no-repeat -622px 0px;}
a.linkUp:hover{ background-position:-622px -45px;}

