<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kingsun.ExamPaper.FZService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Kingsun.ExamPaper.FZService.Properties.Settings>
            <setting name="Kingsun_SynchronousStudy_FZService_PracticeEveryDay_PracticeEveryDay"
                serializeAs="String">
                <value>http://192.168.3.144:8089/Service/PracticeEveryDay.asmx</value>
            </setting>
            <setting name="Kingsun_ExamPaper_FZService_RelationService_RelationService"
                serializeAs="String">
                <value>http://183.47.42.221:8026/RelationService/RelationService.svc</value>
            </setting>
            <setting name="Kingsun_ExamPaper_FZService_FZUUMS_UserService_FZUUMS_UserService"
                serializeAs="String">
                <value>http://183.47.42.221:8026/UserService/FZUUMS_UserService.asmx</value>
            </setting>
            <setting name="Kingsun_ExamPaper_FZService_MetadataService_Service"
                serializeAs="String">
                <value>http://metadata.kingsun.cn/Service/MetadataService.asmx</value>
            </setting>
        </Kingsun.ExamPaper.FZService.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>